<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

<nav aria-label="breadcrumb" class="w-100 float-left">
    <ol
            class="breadcrumb parallax justify-content-center"
            data-source-url="/user/img/banner/parallax.jpg"
            style="
          background-image: url('/user/img/banner/parallax.jpg');
          background-position: 50% 0.809717%;
        "
    >
        <li class="breadcrumb-item"><a th:href="@{index}">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giỏ Hàng</li>
    </ol>
</nav>

<div class="cart-area table-area pt-110 pb-95 float-left w-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 float-left cart-wrapper">
                <div class="table-responsive">
                    <div ng-if="!cart.items.length" class="panel-body text-center">
                        <h3 class="text-capitalize">Chưa có sản phẩm trong giỏ hàng</h3>
                        <!--                        <a th:href="@{/home/index}" class="btn btn-info continue-shop">Tiếp tục mua sắm</a>-->
                    </div>
                    <table class="table product-table text-center" ng-if="cart.items.length">
                        <thead>
                        <tr>
                            <th class="table-remove text-capitalize">Xoá</th>
                            <th class="table-image text-capitalize">Ảnh</th>
                            <th class="table-p-name text-capitalize">Tên sản phẩm</th>
                            <th class="table-p-price text-capitalize">Giá</th>
                            <th class="table-p-qty text-capitalize">Số lượng</th>
                            <th class="table-total text-capitalize">Tổng tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in cart.items">
                            <!--                            <input type="hidden" name="productId" ng-model="item.productId" value="{{item.productId}}" />-->
                            <td class="table-remove">
                                <button
                                        ng-click="cart.remove(item.productId,item.qty,item.categoryQuantity[0].category_quantity_id)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                            <td class="table-image">
                                <a ng-href="/home/product-details/productId={{item.productId}}/brandId={{item.brand.brandId}}">
                                    <img ng-src="/user/img/products/{{item.productImageList[0].image_url}}"
                                         alt="{{item.productImageList[0].image_url}}"
                                         title="{{item.productImageList[0].image_url}}" />
                                </a>
                            </td>
                            <td class="table-p-name text-capitalize d-flex flex-column align-items-start justify-content-start">
                                <a class="text-wrap" href="product-details">
                                    {{item.productName}}
                                </a>
                                <p>({{item.categoryQuantity[0].categoryLevel1Detail.category_level_1_detail_name}}
                                   ,{{item.categoryQuantity[0].categoryLevel2Detail.category_level_2_detail_name}})</p>
                            </td>


                            <td class="table-p-price"><p>{{item.priceNew | vndFormat }}</p></td>
                            <td class="table-p-qty">
                                <button class="minus btn"
                                        ng-click="cart.minus(item,
                                                             item.productId,
                                                             item.qty,
                                                             item.categoryQuantity[0].category_quantity_id)">-
                                </button>
                                <label>
                                    <input type="number" min="1" ng-model="item.qty" readonly />
                                </label>
                                <button class="plus btn"
                                        ng-click="cart.plus(item,
                                                            item.productId,
                                                            item.qty,
                                                            item.categoryQuantity[0].category_quantity_id)"
                                >+
                                </button>
                            </td>
                            <td class="table-total"><p>{{item.priceNew * item.qty | vndFormat }}</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-bottom-wrapper">
                    <div
                            class="table-coupon d-flex d-xs-block d-lg-flex d-sm-flex fix justify-content-start float-left"
                    >
                        <input type="text" placeholder="Mã giảm giá" />
                        <button type="submit" class="btn-primary btn">
                            Áp dụng phiếu giảm giá
                        </button>
                    </div>
                    <div
                            class="table-update d-flex d-xs-block d-lg-flex d-sm-flex justify-content-end"
                    >
                        <button type="button" class="btn-primary btn">
                            Cập nhật giỏ hàng
                        </button>
                    </div>
                </div>
            </div>
            <div
                    class="table-total-wrapper
                    d-flex justify-content-end
                    pt-60
                    col-md-12 col-sm-12 col-lg-3 float-left align-items-center">
                <div class="table-total-content" ng-if="cart.items.length">
                    <h2 class="pb-20">Tổng giỏ hàng</h2>
                    <div class="table-total-amount">
                        <div
                                class="single-total-content d-flex justify-content-between float-left w-100"
                        >
                            <strong>Tổng phụ</strong>
                            <span class="c-total-price">{{cart.amount | vndFormat}}</span>
                        </div>
                        <!--                        <div-->
                        <!--                                class="single-total-content d-flex justify-content-between float-left w-100"-->
                        <!--                        >-->
                        <!--                            <strong>Phí vận chuyển</strong>-->
                        <!--                            <span class="c-total-price"-->
                        <!--                            ><span>Tỷ giá cố định:</span> $5.00</span-->
                        <!--                            >-->
                        <!--                        </div>-->
                        <div
                                class="single-total-content d-flex justify-content-end float-left w-100"
                        >
                            <a href="#">Tính toán phí vận chuyển</a>
                        </div>
                        <div
                                class="single-total-content tt-total d-flex justify-content-between float-left w-100"
                        >
                            <strong>Tổng tiền</strong>
                            <span class="c-total-price">{{cart.amount | vndFormat}}</span>
                        </div>
                        <a
                                th:href="@{/home/checkout-page}"
                                class="btn btn-primary float-left w-100 text-center"
                        >Tiến hành thanh toán</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
<!--    var Tawk_API = Tawk_API || {},-->
<!--        Tawk_LoadStart = new Date();-->
<!--    (function () {-->
<!--        var s1 = document.createElement("script"),-->
<!--            s0 = document.getElementsByTagName("script")[0];-->
<!--        s1.async = true;-->
<!--        s1.src = "https://embed.tawk.to/5ac1aabb4b401e45400e4197/default";-->
<!--        s1.charset = "UTF-8";-->
<!--        s1.setAttribute("crossorigin", "*");-->
<!--        s0.parentNode.insertBefore(s1, s0);-->
<!--    })();-->
<!--</script>-->
<!--End of Tawk.to Script-->
</body>
</html>