<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
	<meta charset="UTF-8">
	<title>Checkout</title>
</head>
<body>
  <nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center" data-source-url="/user/img/banner/parallax.jpg"
        style="background-image: url(&quot;/user/img/'banner/parallax.jpg&quot;); background-position: 50% 0.809717%;">
      <li class="breadcrumb-item active"><a th:href="@{index}">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>

    </ol>
  </nav>
  <div class="checkout-inner float-left w-100">
    <div class="container">
      <div class="row">
        <div class="cart-block-left col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Giỏ hàng của bạn</span>
          </h4>
          <div class="list-group mb-3" >
            <div class="list-group-item d-flex justify-content-between lh-condensed" ng-repeat="item in cart.items">
              <div>
                <h6 class="my-0">{{item.productName}} ({{item.qty}})</h6>
                ({{item.categoryQuantity[0].categoryLevel1Detail.category_level_1_detail_name}}
                ,{{item.categoryQuantity[0].categoryLevel2Detail.category_level_2_detail_name}})
              </div>
              <span class="text-muted">{{item.priceNew | vndFormat}}</span>
            </div>

            <div class="list-group-item d-flex justify-content-between">
              <strong>Total (VND)</strong>
              <strong>{{cart.amount | vndFormat}}</strong>
            </div>
            <div class="list-group-item  justify-content-between" >
              <div class="custom-control custom-radio" id="checkbox-card" th:each="method : ${paymentMethod}">
                <input th:id="payment+${method.getPaymentMethodName()}" name="paymentMethod" type="radio" class="custom-control-input"
                       required="">
                <label class="custom-control-label" th:for="payment+${method.getPaymentMethodName()}" th:text="${method.getPaymentMethodName()}"></label>
              </div>
            </div>
            <a th:href="@{/home/order-confirmation}" class="btn btn-primary btn-lg btn-primary">Đặt hàng</a>
            </ul>
          </div>
        </div>
        <div class="cart-block-right col-md-8 order-md-1">
          <h4 class="mb-3">Thông tin đặt hàng</h4>
          <form class="needs-validation" >
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="fullName">Họ tên người nhận<span class="required">*</span></label>
                <input type="text" class="form-control" id="fullName" placeholder="" ng-model="order.recipientName" value=""
                       required="">
              </div>
              <div class="col-md-6 mb-3">
                <label for="phoneNumber">Số điện thoại <span class="text-muted"></span></label>
                <input type="number" class="form-control" id="phoneNumber" ng-model="order.phoneNumber" placeholder="">
              </div>
            </div>
            <div class="mb-3">
              <label for="address">Địa chỉ người nhận<span class="required">*</span> </label>
              <input type="text" class="form-control" id="address" placeholder="" ng-model="order.specifiedAddress" required="">
            </div>
            <div class="mb-3">
              <label for="note">Ghi chú<span class="required">*</span> </label>
              <textarea class="form-control" placeholder="" ng-model="order.orderNote" id="note" style="height: 100px;"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>