<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
</head>
<body>
<nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center"
        data-source-url="/user/img/banner/parallax.jpg"
        style="background-image: url('/user/img/banner/parallax.jpg');
        background-position: 50% 0.809717%;">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
    </ol>
</nav>
<div class="main-content w-100 float-left blog-list">
    <div class="container ">
        <div class="row">
            <div class="products-grid col-xl-9 col-lg-8 order-lg-2 ">
                <div class="row">
                    <div class="col-lg-12 order-lg-last account-content">
                        <h4 id="forgot-password-title">Quên mật khẩu</h4>
                        <form class="myacoount-form needs-validation" novalidate>
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group required-field" id="forgot-password-content-div">
                                                <label for="forgot-password-email">Email của bạn<span
                                                        class="required">*</span></label>
                                                <input type="text" class="form-control" id="forgot-password-email"
                                                       name="email"
                                                       required="">
                                                <span id="forgot-password-result"></span>
                                            </div>
                                            <!-- End .form-group -->
                                        </div>
                                        <!-- End .col-md-4 -->
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group required-field">
                                                <label for="acc-password">Your password <span
                                                        class="required">*</span></label>
                                                <input type="password" class="form-control" id="acc-password"
                                                    name="acc-password" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group required-field">
                                                <label for="acc-password">Repeat password <span
                                                        class="required">*</span></label>
                                                <input type="password" class="form-control" id="acc-password"
                                                    name="acc-password" required="">
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- End .row -->
                                </div>
                                <!-- End .col-sm-11 -->
                            </div>
                            <!-- End .form-group -->
                            <div class="col-sm-5">
                                <div class="checkbox-link d-flex justify-content-between">

                                    <div class="right-col">
                                        Bạn đã nhớ tài khoản ?
                                        <a class="text-primary" th:href="@{sign-in}">Đăng nhập</a>
                                    </div>
                                </div>
                            </div>


                            <!-- End .custom-checkbox -->

                            <div class="form-footer ">

                                <div class="form-footer-center" id="forgot-password-submit-button">
                                    <button type="button" class="btn btn-primary btn-primary"
                                            onclick="sendOneTimePasswordToEmail()">Xác nhận
                                    </button>
                                </div>
                                <!-- <div class="col"> -->

                                <!-- <div class="d-flex pt-2">
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <div>or Sign up using: </div>
                                    </div>
                                    <a href="#" class="login100-social-item bg1">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                    </a>
                                    <a href="#" class="login100-social-item bg3">
                                        <i class="fa-brands fa-google"></i>
                                    </a>
                                </div> -->
                                <!-- </div> -->
                            </div>
                            <!-- End .form-footer -->
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
<script>

    let OTP = "";
    let currentAccount;

    function sendOneTimePasswordToEmail() {
        let email = document.getElementById("forgot-password-email").value;
        let result = document.getElementById("forgot-password-result");
        if (email != "") {
            if (isValidEmail(email)) {
                $.ajax({
                    url: "/api/forgot-password/sendOTP/" + email,
                    method: "GET",
                    success: function (data) {
                        if (data.status == "Success") {
                            OTP = data.OTP;
                            currentAccount = data.account;
                            document.getElementById("forgot-password-title").innerHTML = "Điền OTP";


                            let forgotPasswordContentDiv = document.getElementById("forgot-password-content-div");
                            let contentHTML = `<label for="forgot-password-OTP">Vui Lòng Điền OTP<span
                                                        class="required">*</span></label>
                                                <input type="text" class="form-control" id="forgot-password-OTP" name="OTP"
                                                       required="">
                                                <span id="forgot-password-result"></span>`;
                            forgotPasswordContentDiv.innerHTML = contentHTML;


                            let forgotPasswordSubmitButton = document.getElementById("forgot-password-submit-button");
                            let buttonSubmitHML = `<button type="button" class="btn btn-primary btn-primary" onclick="CheckOTP()">Xác nhận</button>`;
                            forgotPasswordSubmitButton.innerHTML = buttonSubmitHML;
                        } else {
                            result.innerHTML = "Email không thuộc bất kì tài khoản nào";
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            } else {
                result.innerHTML = "Đây không phải là địa chỉ email hợp lệ.";
            }
        } else {
            result.innerHTML = "Vui Lòng Điền Email";
        }
    }


    function isValidEmail(email) {
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailPattern.test(email);
    }

    // Sử dụng hàm để kiểm tra chuỗi
    function CheckOTP() {
        let result = document.getElementById("forgot-password-result");
        let inputOTP = document.getElementById("forgot-password-OTP").value;
        if (inputOTP == "") {
            result.innerHTML = "Không được để trống OTP";
        } else {
            if (inputOTP.length != 6) {
                result.innerHTML = "Mã OTP Bao Gồm 6 Ký Tự";
            } else {
                if (OTP === inputOTP) {
                    let forgotPasswordContentDiv = document.getElementById("forgot-password-content-div");
                    let contentHTML = `<label for="forgot-password-password">Mật Khẩu Mới<span
                                                        class="required">*</span></label>
                                                <input type="password" class="form-control" id="forgot-password-password" name="OTP"
                                                       required="">
                                        <label for="forgot-password-confirm-password">Xác Nhận Mật Khẩu<span
                                                        class="required">*</span></label>
                                                <input type="password" class="form-control" id="forgot-password-confirm-password" name="OTP"
                                                       required="">
                                                <span id="forgot-password-result"></span>`;
                    forgotPasswordContentDiv.innerHTML = contentHTML;


                    let forgotPasswordSubmitButton = document.getElementById("forgot-password-submit-button");
                    let buttonSubmitHML = `<button type="button" class="btn btn-primary btn-primary" onclick="changePassword()">Xác nhận</button>`;
                    forgotPasswordSubmitButton.innerHTML = buttonSubmitHML;
                } else {
                    result.innerHTML = "Mã OTP không trùng khớp";
                }
            }
        }
    }


    function changePassword() {
        let result = document.getElementById("forgot-password-result");
        let confirmNewPassword = document.getElementById("forgot-password-confirm-password").value;
        console.log(confirmNewPassword)
        let newPasswrod = document.getElementById("forgot-password-password").value;
        if (newPasswrod == "") {
            result.innerHTML = "Mật Khẩu Mới Đang Trống";
        } else if (confirmNewPassword == "") {
            result.innerHTML = "Xác Nhận Mật Khẩu Mới Đang trống";
        } else {
            if (newPasswrod == confirmNewPassword) {
                $.ajax({
                    url: "/api/forgot-password/changePassword?email=" + currentAccount.email + "&&newPassword=" + newPasswrod,
                    method: "POST",
                    success: function (data) {
                        if (data.status == "Success") {
                            // chuyener huong sang login page hoac trang chu page
                            window.location.href = "/home/sign-in";
                        } else {
                            // in stauts failed or error
                            result.innerHTML = data.detail;
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })


                //     call API to Change Password
                window.location.href = "/home/sign-in";
            } else {
                result.innerHTML = "Mật Khẩu Không Trùng Khớp";
            }
        }
    }
</script>
