<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
</head>
<body>
<main>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="slider-wrapper my-40 my-sm-25 float-left w-100">
        <!--        <div class="ttloading-bg"></div>-->
        <div class="slider slider-for owl-carousel">
            <div>
                <a href="#">
                    <img src="/user/img/slider/sample-03.jpg" alt="" />
                </a>
                <div class="slider-content-wrap center effect_top">
                    <div class="slider-title mb-20 text-capitalize float-left w-100">
                        Những sản phẩm đặc biệt
                    </div>
                    <div class="slider-button text-uppercase float-left w-100">
                        <a th:href="@{/home/product}">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div>
                <a href="#">
                    <img src="/user/img/slider/sample-04.jpg" alt="" />
                </a>
                <div class="slider-content-wrap center effect_bottom">
                    <div class="slider-title mb-20 text-capitalize float-left w-100">
                        Về chúng tôi
                    </div>
                    <div class="slider-button text-uppercase float-left w-100">
                        <a th:href="@{/home/product}">Mua ngay thôi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div id="category-products" class="category-products">
            <div class="container">
                <div class="inner-category owl-carousel">
                    <div class="ttproduct-cat-item">
                        <div class="tt_cat_content">
                            <div class="category-img left-block">
                                <a href="#" class="ttcategoy-image">
                                    <img src="/user/img/category/01.jpg" alt="collection-img" />
                                </a>
                            </div>
                            <div class="description right-block text-center">
                                <div class="title text-capitalize mb-10">Phụ nữ</div>
                                <div class="desc">...</div>
                            </div>
                        </div>
                    </div>
                    <div class="ttproduct-cat-item">
                        <div class="tt_cat_content">
                            <div class="category-img left-block">
                                <a href="#" class="ttcategoy-image">
                                    <img src="/user/img/category/02.jpg" alt="collection-img" />
                                </a>
                            </div>
                            <div class="description right-block text-center">
                                <div class="title text-capitalize mb-10">Đàn ông</div>
                                <div class="desc">...</div>
                            </div>
                        </div>
                    </div>
                    <div class="ttproduct-cat-item">
                        <div class="tt_cat_content">
                            <div class="category-img left-block">
                                <a href="#" class="ttcategoy-image">
                                    <img src="/user/img/category/03.jpg" alt="collection-img" />
                                </a>
                            </div>
                            <div class="description right-block text-center">
                                <div class="title text-capitalize mb-10">Trẻ em</div>
                                <div class="desc">...</div>
                            </div>
                        </div>
                    </div>
                    <div class="ttproduct-cat-item">
                        <div class="tt_cat_content">
                            <div class="category-img left-block">
                                <a href="#" class="ttcategoy-image">
                                    <img src="/user/img/category/04.jpg" alt="collection-img" />
                                </a>
                            </div>
                            <div class="description right-block text-center">
                                <div class="title text-capitalize mb-10">Những cô gái</div>
                                <div class="desc">...</div>
                            </div>
                        </div>
                    </div>
                    <div class="ttproduct-cat-item">
                        <div class="tt_cat_content">
                            <div class="category-img left-block">
                                <a href="#" class="ttcategoy-image">
                                    <img src="/user/img/category/01.jpg" alt="collection-img" />
                                </a>
                            </div>
                            <div class="description right-block text-center">
                                <div class="title text-capitalize mb-10">Thời trang</div>
                                <div class="desc">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            <!--            Random Product-->
            <div id="hometab"
                 class="home-tab my-40 my-sm-25 bottom-to-top hb-animate-element"
            >
                <div class="container">
                    <div class="row">
                        <div class="tt-title d-inline-block float-none w-100 text-center"
                        >
                            Sản phẩm ngẫu nhiên
                        </div>
                        <div class="tabs">
                            <ul class="nav nav-tabs justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       data-toggle="tab"
                                       href="#ttfeatured-main"
                                       id="featured-tab"
                                    >
                                        <div class="tab-title">Đặc sắc</div>
                                    </a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content float-left w-100">
                            <div class="tab-pane active float-left w-100"
                                 id="ttfeatured-main"
                                 role="tabpanel"
                                 aria-labelledby="featured-tab"
                            >
                                <section id="ttfeatured" class="ttfeatured-products">
                                    <div class="ttfeatured-content products grid owl-carousel"
                                         id="owl1"
                                    >
                                        <div class="product-layouts" th:each="product : ${filteredProduct}">
                                            <div class="product-thumb">
                                                <div class="image fade-hover">
                                                    <a th:href="@{'/home/product-details/productId=' + ${product.getProductId()} + '/brandId=' +${product.getBrand.getBrandId()} }"
                                                       th:each="image, limit: ${product.getProductImageList()}"
                                                       th:if="${limit.index} &lt; 2">
                                                        <img th:src="@{'/user/img/products/' + ${image.getImage_url}}"
                                                             th:alt="${limit.index}"
                                                             th:class="${limit.index % 2 == 0 ? '' : 'second_image img-responsive'}"
                                                             style="width: 385px; height  : 501px" />
                                                    </a>
                                                    <div class="flags" th:if="${!product.getDiscount().isNaN()}">
                                                        <div class="sale card"
                                                             th:text="'Sale ' + ${#numbers.formatDecimal(product.getDiscount() * 100, 0, 'COMMA', 0, 'DEFAULT')} + ' %'"></div>
                                                    </div>
                                                </div>
                                                <div class="thumb-description">
                                                    <div class="caption">
                                                        <h4 class="product-title text-capitalize">
                                                            <a th:href="@{'/home/product-details/productId=' + ${product.getProductId()}+ '/brandId=' +${product.getBrand.getBrandId()}}"
                                                               th:text="${product.getProductName()}"></a>
                                                        </h4>
                                                    </div>
                                                    <div class="price">
                                                        <div class="regular-price"
                                                             th:text="${#numbers.formatDecimal(product.getPriceNew(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                                                        <div class="old-price"
                                                             th:text="${#numbers.formatDecimal(product.getPriceOld(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Banner-->
            <div
                    id="ttcmssubbanner"
                    class="ttcmssubbanner my-40 my-sm-25 bottom-to-top hb-animate-element"
            >
                <div class="ttbannerblock container">
                    <div class="row">
                        <div class="ttbanner1 ttbanner col-sm-6 col-xs-6">
                            <div class="ttbanner-img">
                                <a href="#"
                                ><img src="/user/img/banner/cms-03.jpg" alt="cms-03"
                                /></a>
                            </div>
                            <div class="ttbanner-inner">
                                <div class="ttbanner-desc text-center">
                                    <span class="title text-uppercase">Mùa hè</span>
                                    <span class="subtitle text-uppercase py-20"
                                    >giảm đến 70%</span
                                    >
                                    <span class="shop-now text-capitalize"
                                    ><a th:href="@{/home/product}" class="btn-primary">Mua ngay</a></span
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="ttbanner2 ttbanner col-sm-6">
                            <div class="ttbanner-img">
                                <a href="#"
                                ><img src="/user/img/banner/cms-04.jpg" alt="cms-04"
                                /></a>
                            </div>
                            <div class="ttbanner-inner">
                                <div class="ttbanner-desc text-center">
                                    <span class="title text-uppercase">Mùa đông</span>
                                    <span class="subtitle text-uppercase py-20"
                                    >giảm đến 70%</span
                                    >
                                    <span class="shop-now text-capitalize"
                                    ><a th:href="@{/home/product}" class="btn-primary">Mua ngay</a></span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Logo-->
            <div
                    id="ttbrandlogo"
                    class="my-40 my-sm-25 bottom-to-top hb-animate-element"
            >
                <div class="container">
                    <div class="tt-brand owl-carousel">
                        <div class="item">
                            <a href="#"
                            ><img src="/user/img/logos/brand-logo-01.png" alt="brand-logo-01"
                            /></a>
                        </div>
                        <div class="item">
                            <a href="#"
                            ><img src="/user/img/logos/brand-logo-02.png" alt="brand-logo-02"
                            /></a>
                        </div>
                        <div class="item">
                            <a href="#"
                            ><img src="/user/img/logos/brand-logo-03.png" alt="brand-logo-03"
                            /></a>
                        </div>
                        <div class="item">
                            <a href="#"
                            ><img src="/user/img/logos/brand-logo-04.png" alt="brand-logo-04"
                            /></a>
                        </div>
                        <div class="item">
                            <a href="#"
                            ><img src="/user/img/logos/brand-logo-05.png" alt="brand-logo-05"
                            /></a>
                        </div>
                        <div class="item">
                            <a href="#"
                            ><img src="/user/img/logos/brand-logo-06.png" alt="brand-logo-06"
                            /></a>
                        </div>
                        <div class="item">
                            <a href="#"
                            ><img src="/user/img/logos/brand-logo-07.png" alt="brand-logo-07"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>