<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout :: user(~{::body})}">
<head>
	<meta charset="UTF-8">
	<title>My Account</title>
</head>
<body>
  <nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center" data-source-url="/user/img/banner/parallax.jpg"
        style="background-image: url(&quot;/user/img/banner/parallax.jpg&quot;); background-position: 50% 0.809717%;">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">my-account</li>
    </ol>
  </nav>
  <div class="main-content w-100 float-left blog-list">
    <div class="container">
      <div class="row">

        <div class="products-grid col-xl-9 col-lg-6 order-lg-2">
          <div class="row">
            <div class="col-lg-12 order-lg-last account-content">
              <h4>Account Information</h4>
              <form action="#" class="myacoount-form">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group required-field">
                          <label for="username">Your username<span
                                  class="required">*</span></label>
                          <input type="text" class="form-control" id="username"
                                 name="username" th:value="${acc.username}" required="">
                        </div>
                        <!-- End .form-group -->
                      </div>
                      <!-- End .col-md-4 -->

                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="fullname">Your Name<span
                                  class="required">*</span></label>
                          <input type="text" class="form-control" id="fullname"
                                 name="fullname" th:value="${acc.fullname}">
                        </div>
                        <!-- End .form-group -->
                      </div>
                      <!-- End .col-md-4 -->


                    </div>
                    <!-- End .row -->
                  </div>
                  <!-- End .col-sm-11 -->
                </div>
                <!-- End .row -->

                <div class="form-group required-field">
                  <label for="acc-email">Your Email</label>
                  <input type="email" class="form-control" id="acc-email" name="acc-email"
                         required="" th:value="${acc.email}">
                </div>
                <div class="form-group required-field">
                  <label for="phone_number">Your Phonenumber</label>
                  <input type="text" class="form-control" id="phone_number" name="phone_number"
                         required="" th:value="${acc.phone_number}">
                </div>
                <div class="form-group required-field">
                  <label for="birthday">Your Birthday</label>
                  <input type="date" class="form-control" id="birthday" name="birthday"
                         required="" th:value="${#dates.format(acc.birthday, 'yyyy-MM-dd')}">
                </div>
                <!-- End .form-group -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="change-password-checkbox"
                         value="1">
                  <label class="custom-control-label" for="change-password-checkbox">Change
                    Password</label>
                </div>
                <!-- End .custom-checkbox -->

                <div id="account-change-password" class="">
                  <h4>Change Password</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required-field">
                        <label for="account-pass2">Password</label>
                        <input type="password" class="form-control" id="account-pass2"
                               name="account-pass2">
                      </div>
                      <!-- End .form-group -->
                    </div>
                    <!-- End .col-md-6 -->

                    <div class="col-md-6">
                      <div class="form-group required-field">
                        <label for="account-pass3">Confirm Password</label>
                        <input type="password" class="form-control" id="account-pass3"
                               name="account-pass3">
                      </div>
                      <!-- End .form-group -->
                    </div>
                    <!-- End .col-md-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End #account-chage-pass -->

                <div class="required text-right">* Required Field</div>
                <div class="form-footer d-flex justify-content-between align-items-center">
                  <a href="#"><i class="material-icons">navigate_before</i>Back</a>

                  <div class="form-footer-right">
                    <button type="submit" class="btn btn-primary btn-primary">Save</button>
                  </div>
                </div>
                <!-- End .form-footer -->
              </form>
            </div>
          </div>
        </div>
        <div class="sidebar col-xl-3 col-lg-4 order-lg-1">
          <div class="sidebar-product left-sidebar w-100 float-left">
            <div class="title">
              <a data-toggle="collapse" href="#sidebar-product" aria-expanded="false"
                 aria-controls="sidebar-product" class="d-lg-none block-toggler">Your Avatar</a>
            </div>
            <div id="sidebar-product" class="collapse w-100 float-left">
              <div class="sidebar-block sale products">
                <h3 class="widget-title">Your Avatar</h3>
                <div class="personal-image d-flex justify-content-center">
                  <label class="label">
                    <input type="file" name="avatar_url"/>
                    <figure class="personal-figure">
                      <img th:src="${imagePath}" class="personal-avatar" alt="avatar">
                      <figcaption class="personal-figcaption">
                        <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                      </figcaption>
                    </figure>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ac1aabb4b401e45400e4197/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>