<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout :: user(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
</head>
<body>
<nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center" data-source-url="/user/img/banner/parallax.jpg"
        style="background-image: url('/user/img/banner/parallax.jpg'); background-position: 50% 0.809717%;">
        <li class="breadcrumb-item active"><a th:href="@{/}">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Xác nhận đặt hàng</li>
    </ol>
</nav>
<div class="order-inner float-left w-100">
    <div class="container">
        <div class="row" th:object="${order}">
            <div id="order-confirmation" class="card float-left w-100 mb-10">
                <div class="card-block p-20">
                    <h3 class="card-title text-success">Đơn hàng của bạn đã được xác nhận</h3>
                    <!--                    <p>An email has been sent to your mail address admin7890@gmail.com.</p>-->
                </div>
            </div>

            <div id="order-itens" class="card float-left w-100 mb-10">
                <div class="card-block p-20">
                    <h3 class="card-title">Những sản phẩm bạn đã đặt</h3>
                    <div class="order-confirmation-table float-left w-100">
                        <div class="order-line float-left w-100">
                            <div class="row" th:each="detail : ${orderDetail}">
                                <div class="col-sm-1 col-xs-3 float-left">
                                    <img th:src="@{'/user/img/products/' + ${detail.product.productImageList.get(0).getImage_url()}}"
                                         alt="">
                                </div>
                                <div class="col-sm-5 col-xs-9 details float-left">
                                    <span th:text="${detail.product.productName}"></span>
                                </div>
                                <div class="col-sm-6 col-xs-12 qty float-left d-flex">
                                    <div class="col-xs-5 col-sm-5 text-sm-right text-xs-left"
                                         th:text="${#numbers.formatDecimal(detail.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></div>
                                    <div class="col-xs-2 col-sm-2" th:text="${detail.quantity}">1</div>
                                    <div class="col-xs-5 col-sm-5 text-sm-right bold"
                                         th:text="${#numbers.formatDecimal(detail.price * detail.quantity, 0, 'COMMA', 0, 'POINT')} + ' VND'"></div>
                                </div>
                            </div>
                        </div>
                        <hr class="float-left w-100">
                        <table class="float-left w-100 mb-30">
                            <tbody>
                            <tr class="font-weight-bold">
                                <td><span class="text-uppercase">Tổng tiền phải trả</span> (tax excl.)</td>
                                <td class="text-right"
                                    th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div id="order-details" class="float-left w-100 mb-30">
                            <h3 class="h3 card-title">Chi tiết đặt hàng:</h3>
                            <ul>
                                <li th:text="'Mã đơn hàng: ' + ${order.tradingCode}"></li>
                                <li th:text="'Phương thức thanh toán: ' + ${order.paymentMethod.paymentMethodName}"></li>
                                <li th:text="'Người nhận: ' + ${order.recipientName}"></li>
                                <li th:text="'Số điện thoại người nhận: ' + ${order.phoneNumber}"></li>
                                <li th:text="'Địa chỉ người nhận: ' + ${order.specifiedAddress}"></li>
                                <li th:text="'Người đặt hàng: ' + ${order.account.fullname}"></li>
                            </ul>
                        </div>
                        <div class="float-right w-100">
                            <th:block th:if="${order.orderStatus.orderStatusId == 5}">
                                <button type="submit" class="btn btn-primary" disabled>
                                    Hủy đơn hàng
                                </button>
                            </th:block>
                            <th:block th:if="${order.orderStatus.orderStatusId == 1}">
                                <form>
                                    <button type="submit" class="btn btn-primary"
                                            th:attr="ng-click=@{|updateStatus(*{orderId})|}">
                                        Hủy đơn hàng
                                    </button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>