<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>

<body id="category" class="category">
<nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center" data-source-url="/user/img/banner/parallax.jpg" style="
          background-image: url('/user/img/banner/parallax.jpg');
          background-position: 50% 0.809717%;
        ">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
    </ol>
</nav>
<div class="main-content w-100 float-left">
    <div class="container">
        <div class="row">
            <div class="content-wrapper col-xl-9 col-lg-9 order-lg-2">
                <div class="tab-content text-center products w-100 float-left">
                    <div class="tab-pane grid fade active" id="grid" role="tabpanel">
                        <div class="row">
                            <div class="product-layouts col-lg-3 col-md-3 col-sm-6 col-xs-6"
                                 th:each="product : ${productPage.content}" th:if="${product.isRemoved == false}">
                                <div class="product-thumb">
                                    <div class="image zoom">
                                        <a th:href="@{'/home/product-details/productId=' + ${product.getProductId()} + '/brandId=' +${product.getBrand.getBrandId()} }"
                                           th:each="image, limit: ${product.getProductImageList()}"
                                           th:if="${limit.index} &lt; 2">
                                            <img th:src="@{'/user/img/products/' + ${image.getImage_url}}"
                                                 th:alt="${limit.index}"
                                                 th:class="${limit.index % 2 == 0 ? '' : 'second_image img-responsive'}"
                                                 style="width: 278px; height  : 388px" />
                                        </a>
                                        <div class="flags" th:if="${product.getDiscount() != null} ">
                                            <div class="sale card"
                                                 th:text="'Sale ' + ${#numbers.formatDecimal(product.getDiscount() * 100, 2, 'COMMA', 0, 'DEFAULT')} + ' %'"></div>
                                        </div>
                                    </div>
                                    <div class="thumb-description">
                                        <div class="caption">
                                            <h4 class="product-title text-capitalize">
                                                <a th:href="@{'/home/product-details/productId=' + ${product.getProductId()}+ '/brandId=' +${product.getBrand.getBrandId()}}"
                                                   th:text="${product.getProductName()}"></a>
                                            </h4>
                                        </div>
                                        <div class="price">
                                            <div class="regular-price"
                                                 th:text="${#numbers.formatDecimal(product.getPriceNew(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                                            <div class="old-price" th:if="${product.getDiscount() != null} "
                                                 th:text="${#numbers.formatDecimal(product.getPriceOld(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper float-left w-100">
                    <!--                    <p>Showing 1 to 9 of 11 (2 Pages)</p>-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${productPage.first} ? 'disabled' : ''">
                                <a class="page-link"
                                   th:href="@{/home/product(page=${productPage.number - 1},
                                                                   brandId=${filterCriteria.brandId},
                                                                   directoryLv1Id=${filterCriteria.getDirectoryLv1Id()},
                                                                   priceSort=${filterCriteria.priceSort})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"
                                th:each="pageNumber : ${#numbers.sequence(0, productPage.totalPages - 1)}"
                                th:classappend="${pageNumber == productPage.number} ? 'active' : ''">
                                <a class="page-link"
                                   th:href="@{/home/product(page=${pageNumber},
                                                            brandId=${filterCriteria.brandId},
                                                            directoryLv1Id=${filterCriteria.getDirectoryLv1Id()},
                                                            priceSort=${filterCriteria.priceSort})}"
                                   th:text="${pageNumber + 1}"></a>
                            </li>

                            <li class="page-item" th:classappend="${productPage.last} ? 'disabled' : ''">
                                <a class="page-link"
                                   th:href="@{/home/product(page=${productPage.number + 1},
                                                                   brandId=${filterCriteria.brandId},
                                                                   directoryLv1Id=${filterCriteria.getDirectoryLv1Id()},
                                                                   priceSort=${filterCriteria.priceSort})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="left-column sidebar col-xl-3 col-lg-3 order-lg-1">
                <form th:action="@{/home/product/filters}" method="get">
                    <div class="sidebar-filter left-sidebar w-100 float-left">
                        <div class="title">
                            <a data-toggle="collapse" href="#sidebar-main" aria-expanded="false"
                               aria-controls="sidebar-main" class="d-lg-none block-toggler">Danh mục sản phẩm</a>
                        </div>
                        <div id="sidebar-main" class="sidebar-main collapse">

                            <div th:if="${filterCriteria.getBrandId()  != null || filterCriteria.getDirectoryLv1Id()  != null}"
                                 class="siderbar-block filter">
                                <button class="btn" formaction="/home/product/clear">Xoá bộ lọc</button>
                            </div>
                            <div class="siderbar-block price-sort mb-3">
                                <h3 class="widget-title mb-1">
                                    Sắp xếp theo
                                </h3>
                                <div class="expand-lg">
                                    <div class="shop-select">
                                        <select onchange="this.form.submit()" class="p-2 border border-1"
                                                name="priceSort"
                                                id="priceSort">
                                            <option value="" th:selected="${priceSort == null}">Sắp xếp mặc định
                                            </option>
                                            <option value="asc"
                                                    th:selected="${priceSort == 'asc'}">Sắp xếp theo giá tăng
                                            </option>
                                            <option value="desc"
                                                    th:selected="${priceSort == 'desc'}">Sắp xếp theo giá giảm
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sidebar-block categories">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#categoriesMenu" role="button" aria-expanded="false"
                                       aria-controls="categoriesMenu">Danh mục</a>
                                </h3>
                                <div id="categoriesMenu" class="sidebar-widget-option-wrapper collapse hide">
                                    <div class="ml-3" th:each="directoryList : ${directoryList}">
                                        <h6 class="text-capitalize">
                                            <a data-toggle="collapse"
                                               th:href="@{'#directoryMenu' + ${directoryList.directoryId}}"
                                               role="button"
                                               aria-expanded="false"
                                               th:attr="aria-controls=directoryMenu + ${directoryList.directoryId}"
                                               th:text="${directoryList.directoryName}"></a>
                                        </h6>
                                        <div th:id="directoryMenu + ${directoryList.directoryId}"
                                             class="sidebar-widget-option-wrapper collapse hide">
                                            <div class="directory-inner"
                                                 th:each="directoryLV1List : ${directoryList.directoryLv1List}">
                                                <div class="sidebar-widget-option">
                                                    <input onclick="this.form.submit()" type="radio"
                                                           th:name="directoryLv1Id"
                                                           th:id="directoryLv1Id + ${directoryLV1List.directoryLv1Id}"
                                                           th:value="${directoryLV1List.directoryLv1Id}"
                                                           th:checked="${directoryLV1List.directoryLv1Id == directoryLv1Id}" />
                                                    <label th:for="directoryLv1Id + ${directoryLV1List.directoryLv1Id}"
                                                           th:text="${directoryLV1List.directoryLv1Name}"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sidebar-block brands ">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#brands" role="button" aria-expanded="false"
                                       aria-controls="brands">Thương hiệu</a>
                                </h3>
                                <div id="brands" class="sidebar-widget-option-wrapper collapse hide">
                                    <div class="brand-inner" th:each="brand : ${brand}">
                                        <div class="sidebar-widget-option">
                                            <input onclick="this.form.submit()" type="radio" th:name="brandId"
                                                   th:id="brandId + ${brand.brandId}"
                                                   th:value="${brand.brandId}"
                                                   th:checked="${brand.brandId == brandId}" />
                                            <label th:for="brandId + ${brand.brandId}"
                                                   th:text="${brand.brandName}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let lastClickedRadio = null;

    function toggleSelection(radio) {
        if (radio === lastClickedRadio) {
            radio.checked = false;
            lastClickedRadio = null;
        } else {
            lastClickedRadio = radio;
        }
    }
</script>
</body>

</html>