<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>

<body id="category" class="category">
<nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center" data-source-url="/user/img/banner/parallax.jpg" style="
          background-image: url('/user/img/banner/parallax.jpg');
          background-position: 50% 0.809717%;
        ">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
    </ol>
</nav>
<div class="main-content w-100 float-left">
    <div class="container">
        <div class="row">
            <div class="content-wrapper col-xl-9 col-lg-9 order-lg-2">
                <header class="product-grid-header d-flex d-xs-block d-sm-flex d-lg-flex w-100 float-left">
                    <div class="shop-results-wrapper d-flex d-sm-flex d-xs-block d-lg-flex justify-content-end col-md-9 col-sm-9 col-xs-12">
                        <div class="shop-results d-flex align-items-center">
                            <span>Hiển thị</span>
                            <div class="shop-select">
                                <select name="number" id="number">
                                    <option value="9">9</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="75">75</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="shop-results d-flex align-items-center">
                            <span>Sắp xếp theo</span>
                            <div class="shop-select">
                                <select name="sort" id="sort">
                                    <option value="position">Sắp xếp mặc định</option>
                                    <option value="p-name">Sắp xếp theo tên</option>
                                    <option value="p-price">Sắp xếp theo giá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="tab-content text-center products w-100 float-left">
                    <div class="tab-pane grid fade active" id="grid" role="tabpanel">
                        <div class="row">
                            <div class="product-layouts col-lg-3 col-md-3 col-sm-6 col-xs-6"
                                 th:each="product : ${productPage.content}">
                                <div class="product-thumb">
                                    <div class="image zoom">
                                        <a th:href="@{'/home/product-details/productId=' + ${product.getProductId()}}"
                                           th:each="image, limit: ${product.getProductImageList()}"
                                           th:if="${limit.index} &lt; 2">
                                            <img th:src="@{'/user/img/products/' + ${image.getImage_url}}"
                                                 th:alt="${limit.index}"
                                                 th:class="${limit.index % 2 == 0 ? '' : 'second_image img-responsive'}"
                                                 style="width: 278px; height  : 388px" />
                                        </a>
                                    </div>
                                    <div class="thumb-description">
                                        <div class="caption">
                                            <h4 class="product-title text-capitalize">
                                                <a th:href="@{'/home/product-details/productId=' + ${product.getProductId()}}"
                                                   th:text="${product.getProductName()}"></a>
                                            </h4>
                                        </div>
                                        <div class="price">
                                            <div class="regular-price"
                                                 th:text="${#numbers.formatDecimal(product.getPriceMin(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                                        </div>
                                        <div class="button-wrapper">
                                            <div class="button-group text-center">
                                                <button type="button" class="btn btn-primary btn-cart"
                                                        th:attr="ng-click=@{|cart.add(${product.getProductId})|}">
                                                    <!--                                                    data-target="#cart-pop" data-toggle="modal"-->
                                                    <i class="material-icons">shopping_cart</i>
                                                    <span>Add to cart</span>
                                                    <!--stock</span>&ndash;&gt;-->
                                                </button>
                                                <a href="wishlist" class="btn btn-primary btn-wishlist"><i
                                                        class="material-icons">favorite</i><span>wishlist</span></a>
                                                <button type="button" class="btn btn-primary btn-compare">
                                                    <i class="material-icons">equalizer</i><span>Compare</span>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-quickview"
                                                        data-toggle="modal" data-target="#product_view">
                                                    <i class="material-icons">visibility</i><span>Quick View</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper float-left w-100">
                    <!--                    <p>Showing 1 to 9 of 11 (2 Pages)</p>-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${productPage.first} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/home/product(page=${productPage.number - 1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"
                                th:each="pageNumber : ${#numbers.sequence(0, productPage.totalPages - 1)}"
                                th:classappend="${pageNumber == productPage.number} ? 'active' : ''">
                                <a class="page-link" th:href="@{/home/product(page=${pageNumber})}"
                                   th:text="${pageNumber + 1}"></a>
                            </li>

                            <li class="page-item" th:classappend="${productPage.last} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/home/product(page=${productPage.number + 1})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="left-column sidebar col-xl-3 col-lg-3 order-lg-1">
                <div class="sidebar-filter left-sidebar w-100 float-left">
                    <div class="title">
                        <a data-toggle="collapse" href="#sidebar-main" aria-expanded="false"
                           aria-controls="sidebar-main" class="d-lg-none block-toggler">Danh mục sản phẩm</a>
                    </div>
                    <div id="sidebar-main" class="sidebar-main collapse">
                        <div class="sidebar-block categories">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#categoriesMenu" role="button" aria-expanded="true"
                                   aria-controls="categoriesMenu">Danh mục</a>
                            </h3>
                            <div id="categoriesMenu" class="expand-lg collapse show">
                                <div class="nav nav-pills flex-column mt-4">
                                    <a class="nav-link d-flex justify-content-between collapse mb-2"
                                       data-toggle="collapse"
                                       href="#categories1"
                                       role="button"
                                       aria-expanded="true"
                                       aria-controls="categories1"
                                    >
                                        <span>Jackets</span>
                                        <span>120</span>
                                    </a>
                                    <div class="expand-lg collapse" id="categories1">
                                        <div class="nav nav-pills flex-column ml-3">
                                            <a href="#" class="mb-2">Lorem ipsum</a>
                                            <a href="#" class="mb-2">Donec vitae</a>
                                        </div>
                                    </div>
                                    <a
                                            href="#"
                                            class="nav-link d-flex justify-content-between mb-2 active"
                                    ><span>Jeans &amp; chinos</span
                                    ><span class="sidebar-badge"> 55</span></a
                                    >
                                    <div class="nav nav-pills flex-column ml-3">
                                        <a href="#" class="nav-link mb-2">Dolor</a>
                                        <a href="#" class="nav-link mb-2">Sit amet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-block price">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#price" role="button" aria-expanded="true"
                                   aria-controls="price">Giá</a>
                            </h3>
                            <div id="price" class="collapse show">
                                <div class="price-inner">
                                    <label for="amount">Price range:</label>
                                    <input
                                            type="text"
                                            id="amount"
                                            readonly
                                            style="border: 0; font-weight: bold; background: none" />
                                    <div id="slider-range">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-block color">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#color" role="button" aria-expanded="true"
                                   aria-controls="color">Màu sắc</a>
                            </h3>
                            <div id="color" class="sidebar-widget-option-wrapper collapse show">
                                <div class="color-inner">
                                    <div class="sidebar-widget-option">
                                        <a href="#" style="background-color: #000000"></a>
                                        Black <span>(4)</span>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="#" style="background-color: #11426b"></a>
                                        Blue <span>(3)</span>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="#" style="background-color: #7d5a3c"></a>
                                        Brown <span>(3)</span>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="#" style="background-color: #ffffff"></a>
                                        White <span>(3)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-block size">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#size" role="button" aria-expanded="true"
                                   aria-controls="size">Kích thước</a>
                            </h3>
                            <div id="size" class="sidebar-widget-option-wrapper collapse show">
                                <div class="size-inner">
                                    <div class="sidebar-widget-option">
                                        <input type="checkbox" id="size-1" />
                                        <label for="size-1">L <span>(4)</span></label>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <input type="checkbox" id="size-2" />
                                        <label for="size-2">XS <span>(3)</span></label>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <input type="checkbox" id="size-3" />
                                        <label for="size-3">S <span>(3)</span></label>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <input type="checkbox" id="size-4" />
                                        <label for="size-4">Xl <span>(3)</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-product left-sidebar w-100 float-left">
                    <div class="title">
                        <a data-toggle="collapse" href="#sidebar-product" aria-expanded="false"
                           aria-controls="sidebar-product" class="d-lg-none block-toggler">Sản phẩm giảm giá</a>
                    </div>
                    <div id="sidebar-product" class="collapse w-100 float-left">
                        <div class="sidebar-block sale">
                            <h3 class="widget-title text-capitalize">Sản phẩm giảm giá</h3>
                            <div class="products owl-carousel">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
<!--    var Tawk_API = Tawk_API || {},-->
<!--        Tawk_LoadStart = new Date();-->
<!--    (function () {-->
<!--        var s1 = document.createElement("script"),-->
<!--            s0 = document.getElementsByTagName("script")[0];-->
<!--        s1.async = true;-->
<!--        s1.src = "https://embed.tawk.to/5ac1aabb4b401e45400e4197/default";-->
<!--        s1.charset = "UTF-8";-->
<!--        s1.setAttribute("crossorigin", "*");-->
<!--        s0.parentNode.insertBefore(s1, s0);-->
<!--    })();-->
<!--</script>-->
<!--End of Tawk.to Script-->
</body>

</html>