<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
<nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center" data-source-url="/user/img/banner/parallax.jpg"
        style="background-image: url(&quot;/user/img/banner/parallax.jpg&quot;); background-position: 50% 0.809717%;">
        <li class="breadcrumb-item"><a th:href="@{/home/index}">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin sản phẩm</li>
    </ol>
</nav>
<div class="product-deatils-section float-left w-100">
    <div class="container">
        <div class="row">
            <div class="left-columm col-lg-5 col-md-5">
                <div class="product-large-image tab-content">
                    <div th:each="productImage : ${productImages}"
                         th:classappend="${productImageStat.first} ?'active' : ''"
                         th:attr="aria-labelledby='product-tab-' + ${productImageStat.count}"
                         class="tab-pane" th:id="product-+ ${productImageStat.count}" role="tabpanel">
                        <div class="single-img img-full">
                            <a th:href="@{'/user/img/products/'+ ${productImage.getImage_url()}}">
                                <img th:src="@{'/user/img/products/'+ ${productImage.getImage_url()}}"
                                     class="img-fluid zoomImg"
                                     alt=""></a>
                        </div>
                    </div>

                </div>
                <div class="default small-image-list float-left w-100">
                    <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                        <div class="single-small-image img-full" th:each="productImage : ${productImages}">
                            <a data-toggle="tab" th:id="product-tab-+ ${productImageStat.count}"
                               th:href="@{'#product-'+${productImageStat.count}}" class="img active">
                                <img th:src="@{'/user/img/products/'+ ${productImage.getImage_url()}}" class="img-fluid"
                                     alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right-columm col-lg-7 col-md-7">
                <div class="product-information" th:each="product : ${products}">
                    <h4 class="product-title text-capitalize float-left w-100"
                        th:text="${product.getProductName}">
                    </h4>
                    <div class="description" th:text="${product.getProductDescription}">

                    </div>
                    <div class="price float-left w-100 d-flex">
                        <div class="regular-price"
                             th:text="${#numbers.formatDecimal(product.getPriceNew(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                    </div>
                    <form th:action="@{/home/product-details/filter}" method="get">
                        <div class="product-variants float-left w-100">
                            <input type="hidden" th:name="productId" th:value="${product.getProductId}">
                            <div class="col-12">
                                <div class="row">
                                    <h5>Kích thước:</h5>
                                </div>
                                <fieldset class="row mb-3">
                                    <div class="row-sm-10 d-flex">
                                        <div class="form-check mr-2"

                                             th:each="category : ${category}"
                                        >
                                            <input
                                                    onclick="this.form.submit()"
                                                    class="form-check-input"
                                                    type="radio"
                                                    th:name="categoryLv1Id"
                                                    th:id="size + ${category.getCategoryLevel1Detail().getCategory_level_1_detail_name()}"
                                                    th:value="${category.getCategoryLevel1Detail().getCategory_level_1_detail_id()}"
                                                    th:checked="${category.getCategoryLevel1Detail().getCategory_level_1_detail_id() == categoryLv1Id}"
                                            />
                                            <label class="form-check-label"
                                                   th:for="size + ${category.getCategoryLevel1Detail().getCategory_level_1_detail_name()}"
                                                   th:text="${category.getCategoryLevel1Detail().getCategory_level_1_detail_name()}">

                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 ">
                                <div class="row">
                                    <h5>Màu sắc :</h5>
                                </div>
                                <fieldset class="row mb-3">
                                    <div class="row-sm-10 d-flex">
                                        <div class="form-check mr-2"

                                             th:each="category : ${category}"
                                        >
                                            <input
                                                    onclick="this.form.submit()"
                                                    class="form-check-input"
                                                    type="radio"
                                                    th:name="categoryLv2Id"
                                                    th:id="color + ${category.getCategoryLevel2Detail().getCategory_level_2_detail_name()}"
                                                    th:value="${category.getCategoryLevel2Detail().getCategory_level_2_detail_id()}"
                                                    th:checked="${category.getCategoryLevel2Detail().getCategory_level_2_detail_id() == categoryLv2Id}"

                                            />
                                            <label class="form-check-label"
                                                   th:for="color + ${category.getCategoryLevel2Detail().getCategory_level_2_detail_name()}"
                                                   th:text="${category.getCategoryLevel2Detail().getCategory_level_2_detail_name()}">
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <button class="btn " formaction="/home/product-details/clear">Bỏ lựa chọn</button>
                        </div>
                        <div class="btn-cart d-flex align-items-center float-left w-100"
                             th:if="${quantity > 0}">
                            <h5>Số lượng:</h5>
                            <input min="1" ng-model="item.qty" type="number" name="qty"
                            >
                            <button type="button" class="btn btn-primary btn-cart m-0"
                                    th:attr="
                                    ng-click=@{|cart.add(
                                        ${product.getProductId},
                                        item.qty,
                                        ${categoryLv1Id},
                                        ${categoryLv2Id}
                                        )|}">
                                <i class="material-icons">shopping_cart</i> Thêm vào giỏ hàng
                            </button>
                        </div>

                        <div class="btn-cart d-flex align-items-center float-left w-100"
                             th:if="${ quantity == 0}">
                            <button type="button" class="btn btn-primary btn-cart m-0" disabled
                            >
                                <i class="material-icons">shopping_cart</i> Sản phẩm tạm hết hàng
                            </button>
                        </div>

                        <div class="btn-cart d-flex align-items-center float-left w-100"
                             th:if="${quantity < 0 }">
                            <button type="button" class="btn btn-primary btn-cart m-0" disabled
                            >
                                <i class="material-icons">shopping_cart</i> Vui lòng chọn phân loại
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-tab-area float-left w-100">
    <div class="container">
        <div class="tabs">
            <ul class="nav nav-tabs justify-content-start">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#product-tab1" id="tab1">
                    <div class="tab-title">Mô tả sản phẩm</div>
                </a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#product-tab2" id="tab2">
                    <div class="tab-title">Đáng giá</div>
                </a></li>
            </ul>
        </div>
        <div class="tab-content float-left w-100">
            <div class="tab-pane active" id="product-tab1" role="tabpanel" aria-labelledby="tab1">
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis viverra purus, non viverra
                    nulla. Sed vehicula libero eu lectus eleifend volutpat. Sed et placerat arcu. Proin mi leo,
                    interdum eu tortor at, euismod gravida velit. Fusce non enim lectus. Duis euismod, lorem vitae
                    pharetra rhoncus, ligula risus elementum nunc, at interdum eros nunc eget augue. Donec dapibus
                    nec diam ut tempor. Duis malesuada neque turpis, ut congue ipsum euismod eget. Sed egestas ipsum
                    enim, sed semper magna auctor non. Praesent risus nunc, ultricies vel velit nec, fringilla
                    venenatis sem. Nunc condimentum, elit sed posuere accumsan, mauris nisl ornare metus, nec
                    hendrerit quam velit ut nibh. Vivamus sodales neque vel sodales porta. Mauris hendrerit felis in
                    mi auctor posuere. Mauris a consequat sapien, eget condimentum risus. Curabitur iaculis lorem
                    non pretium varius. In hac habitasse platea dictumst.
                </div>
            </div>
            <div class="tab-pane" id="product-tab2" role="tabpanel" aria-labelledby="tab2">
                <div class="reviews-tab  float-left w-100">
                    <div class="ttreview-tab float-left w-100 p-30">
                        <h2>Customer Reviews</h2>
                        <div class="rating float-left w-100">
                            <div class="product-ratings d-inline-block align-middle">
                                <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                                <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                            </div>
                        </div>
                        <div class="review-title float-left w-100"><span class="user">admin</span> <span
                                class="date">– February 14, 2019</span></div>
                        <div class="review-desc  float-left w-100">Aliquam at ipsum tellus. Donec arcu est, posuere
                                                                   quis orci vel, commodo cursus augue.
                        </div>
                    </div>
                    <form action="#" class="rating-form float-left w-100">
                        <h5>Add your rating</h5>
                        <div class="rating">
                            <div class='rating-stars text-left'>
                                <ul id='stars'>
                                    <li class='star' title='Poor' data-value='1'>
                                        <i class="material-icons">star</i>
                                    </li>
                                    <li class='star' title='Fair' data-value='2'>
                                        <i class="material-icons">star</i>
                                    </li>
                                    <li class='star' title='Good' data-value='3'>
                                        <i class="material-icons">star</i>
                                    </li>
                                    <li class='star' title='Excellent' data-value='4'>
                                        <i class="material-icons">star</i>
                                    </li>
                                    <li class='star' title='WOW!!!' data-value='5'>
                                        <i class="material-icons">star</i>
                                    </li>
                                </ul>
                            </div>
                            <div class='success-box'>
                                <div class='clearfix'></div>
                                <div class='text-message text-success'></div>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <div class="row d-block">

                            <div class="col-sm-6 float-left form-group">
                                <label>Name <span class="required">*</span></label>
                                <input type="text" placeholder="" required="">
                            </div>
                            <div class="col-sm-6 float-left form-group">
                                <label>Email <span class="required">*</span></label>
                                <input type="email" placeholder="" id="r-email" required>
                            </div>
                            <div class="col-sm-12 float-left form-group">
                                <label for="r-textarea">Đánh giá của bạn</label>
                                <textarea name="review" id="r-textarea" cols="30" rows="10"
                                          class="w-100"></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary submit" value="Submit Review">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="product-accessories" class="product-accessories my-40 w-100 float-left">
    <div class="container">
        <div class="row">
            <div class="tt-title d-inline-block float-none w-100 text-center">Sản phẩm liên quan</div>
            <div class="product-accessories-content products grid owl-carousel">
                <div class="product-layouts" th:each="productAccessories : ${productsRelate}">
                    <div class="product-thumb">
                        <div class="image zoom">
                            <div class="image zoom">
                                <a th:href="@{'/home/product-details/productId=' + ${productAccessories.getProductId()} + '/brandId=' +${productAccessories.getBrand.getBrandId()} }"
                                   th:each="image, limit: ${productAccessories.getProductImageList()}"
                                   th:if="${limit.index} &lt; 2">
                                    <img th:src="@{'/user/img/products/' + ${image.getImage_url}}"
                                         th:alt="${limit.index}"
                                         th:class="${limit.index % 2 == 0 ? '' : 'second_image img-responsive'}"
                                         style="width: 278px; height  : 388px" />
                                </a>
                            </div>
                        </div>
                        <div class="thumb-description">
                            <div class="caption">
                                <h4 class="product-title text-capitalize">
                                    <a th:href="@{'/home/product-details/productId=' + ${productAccessories.getProductId()}+ '/brandId=' +${productAccessories.getBrand.getBrandId()}}"
                                       th:text="${productAccessories.getProductName()}">
                                    </a>
                                </h4>
                            </div>
                            <div class="price">
                                <div class="regular-price"
                                     th:text="${#numbers.formatDecimal(productAccessories.getPriceNew(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                                <div class="old-price"
                                     th:text="${#numbers.formatDecimal(productAccessories.getPriceOld(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start of Tawk.to Script-->
<script>
</script>
<!--End of Tawk.to Script-->
</body>
</html>