<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
</head>
<body>
<nav aria-label="breadcrumb" class="w-100 float-left">
    <ol class="breadcrumb parallax justify-content-center"
        data-source-url="/user/img/banner/parallax.jpg"
        style="background-image: url('/user/img/banner/parallax.jpg');
        background-position: 50% 0.809717%;">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
    </ol>
</nav>
<div class="main-content w-100 float-left blog-list">
    <div class="container ">
        <div class="row">
            <div class="products-grid col-xl-9 col-lg-8 order-lg-2 ">
                <div class="row">
                    <div class="col-lg-12 order-lg-last account-content">
                        <h4>Quên mật khẩu</h4>
                        <form th:action="@{/}" class="myacoount-form needs-validation" novalidate>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-5">
                                        <div class="form-group required-field">
                                            <label for="acc-password">Mật khẩu mới<span
                                                    class="required">*</span></label>
                                            <input type="password" class="form-control" id="acc-password"
                                                   name="acc-password" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group required-field">
                                            <label for="acc-password">Nhập lại mật khẩu<span
                                                    class="required">*</span></label>
                                            <input type="password" class="form-control" id="acc-Repassword"
                                                   name="acc-Repassword" required="">
                                        </div>
                                    </div>
                                    <!-- End .row -->
                                </div>
                                <!-- End .col-sm-11 -->
                            </div>
                            <!-- End .form-group -->
                            <div class="col-sm-5">
                                <div class="checkbox-link d-flex justify-content-between">

                                    <div class="right-col">
                                        Bạn đã nhớ tài khoản ?
                                        <a class="text-primary" href="#">Đăng nhập</a>
                                    </div>
                                </div>
                            </div>


                            <!-- End .custom-checkbox -->

                            <div class="form-footer ">

                                <div class="form-footer-center">
                                    <button type="submit" class="btn btn-primary btn-primary">Xác nhận</button>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>