<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<div th:fragment="footer">
		<!-- Footer -->
		<div class="block-newsletter">
			<div class="parallax"
			     data-source-url="/user/img/slider/sample-03.jpg"
			     style="background-image:url(/user/img/slider/sample-03.jpg); background-position:50% 65.8718%;">
				<div class="container">
					<div class="tt-newsletter col-sm-7">
						<h2 class="text-uppercase">Subscribe to our Newsletter</h2>
					</div>
					<div class="block-content col-sm-5">
						<form method="post"
						      action="contact-us">
							<div class="input-group">
								<input type="email"
								       name="email"
								       value=""
								       placeholder="Nhập địa chị email"
								       required=""
								       class="form-control">
								<span class="input-group-btn">
			 <button class="btn btn-theme text-uppercase btn-primary"
			         type="submit">Đăng ký</button>
			 </span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="page-footer font-small footer-default">
			<div class="container text-center text-md-left">
				<div class="row">
					<div class="col-md-2 footer-cms footer-column">
						<div class="ttcmsfooter">
							<div class="footer-logo">
<!--								<img src="/user/img/logos/footer-logo.png"-->
<!--								     alt="footer-logo"-->
<!--								     width="200"-->
<!--								     height="50">-->
							</div>
						</div>
					</div>
					<div class="col-md-2 footer-column">
						<div class="title">
							<a href="#company"
							   class="font-weight-normal text-capitalize mb-10"
							   data-toggle="collapse"
							   aria-expanded="false">Công Ty
							</a>
						</div>
						<ul id="company"
						    class="list-unstyled collapse">
							<li>
								<a href="#">Tìm kiếm</a>
							</li>
							<li>
								<a href="#">Sản phẩm mới</a>
							</li>
							<li>
								<a href="category">Bộ sưu tập hàng đầu</a>
							</li>
							<li>
								<a href="wishlist">Danh sách yêu thích</a>
							</li>
						</ul>
					</div>
					<div class="col-md-2 footer-column">
						<div class="title">
							<a href="#products"
							   class="font-weight-normal text-capitalize mb-10"
							   data-toggle="collapse"
							   aria-expanded="false">Giới thiệu
							</a>
						</div>
						<ul id="products"
						    class="list-unstyled collapse">
							<li>
								<a href="blog-details">blog</a>
							</li>
							<li>
								<a href="about-us">Về chúng tôi</a>
							</li>
							<li>
								<a href="contact-us">liên hệ</a>
							</li>
							<li>
								<a href="my-account">tài khoản của tôi</a>
							</li>
						</ul>

					</div>
					<div class="col-md-2 footer-column">
						<div class="title">
							<a href="#account"
							   class="font-weight-normal text-capitalize mb-10"
							   data-toggle="collapse"
							   aria-expanded="false">Tài khoản của bạn
							</a>
						</div>
						<ul id="account"
						    class="list-unstyled collapse">
							<li>
								<a href="blog-details">Thông tin cá nhân</a>
							</li>
							<li>
								<a href="#">Mua hàng</a>
							</li>
							<li>
								<a href="contact-us">Địa chị</a>
							</li>
							<li>
								<a href="my-account">Danh sách sản phẩm mong muốn</a>
							</li>
						</ul>

					</div>
					<div class="col-md-2 footer-column">
						<div class="title">
							<a href="#information"
							   class="font-weight-normal text-capitalize mb-10"
							   data-toggle="collapse"
							   aria-expanded="false">Thông tin cửa hàng
							</a>
						</div>
						<ul id="information"
						    class="list-unstyled collapse">
							<li class="contact-detail links">
              <span class="address">
			  		<span class="icon"><i class="material-icons">location_on</i></span>
					<span class="data"> Công Viên Phần Mềm Quang Trung, Tân Chánh Hiệp, Quận 12, TP.HCM, Việt Nam</span>			  </span>
							</li>
							<li class="links">
               <span class="contact">
			  		<span class="icon"><i class="material-icons">phone</i></span>
					<span class="data"><a href="tel:(99)55669999">+ (84) 55-669-999</a></span>			  </span></li>
							<li class="links">
               <span class="email">
			  		<span class="icon"><i class="material-icons">email</i></span>
					<span class="data"><a href="mailto:demo.store@gmail.com">noruleshop2023@gmail.com</a></span>  </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Copyright -->
			<div class="footer-bottom-wrap">
				<div class="container">
					<div class="row">
						<div class="footer-copyright text-center py-3">
							© NoRules 2023. All rights reserved
						</div>
					</div>
				</div>
			</div>
			<a href="#"
			   id="goToTop"
			   title="Back to top"
			   class="btn-primary"><i class="material-icons arrow-up">keyboard_arrow_up</i></a>
		</footer>
	</div>
</body>
</html>