<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <header class="header-area header-sticky text-center header-default">
        <div class="header-main-sticky">
            <div class="header-nav">
                <div class="container">
                    <div class="nav-left float-left">
                        <div class="ttheader-service">Bạn muốn khám phá Ưu đãi sắp tới vào cuối tuần?</div>
                    </div>
                    <div class="nav-right float-right d-flex">
                        <div class="ttheader-mail">
                            <a href="mailto:noruleshop2023@gmail.com">noruleshop2023@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-main-head">

                <div class="header-main">
                    <div class="container">
                        <div class="header-left float-left d-flex d-lg-flex d-md-block d-xs-block">
                            <div class="language-wrapper toggle">
                                <button type="button"
                                        class="btn text-capitalize dropdown-toggle">
                                    <img src="/user/img/banner/flag-vn-svgrepo-com.png"
                                         alt="en"
                                         height="12"
                                         width="18" />
                                    <span>Tiếng việt</span></button>
                                <div id="language-dropdown"
                                     class="language">
                                    <ul>
                                        <li>
                                            <img src="/user/img/banner/flag-vn-svgrepo-com.png"
                                                 alt="en"
                                                 width="18"
                                                 height="12" />
                                            <span>Tiếng việt</span></li>
                                        <li>
                                            <img src="/user/img/banner/en.png"
                                                 alt="fr"
                                                 width="18"
                                                 height="12" />
                                            <span>Tiếng anh</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="currency-wrapper toggle">
                                <button type="button"
                                        class="btn text-capitalize dropdown-toggle"><span>đ Vietnam-dong</span></button>
                                <div id="currency-dropdown"
                                     class="currency">
                                    <ul>
                                        <li><span>đ Vietnam-dong</span></li>
                                        <li><span>$ US Dollar</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contact">
                                <i class="material-icons">phone</i>
                                <a href="tel:+1234567890">1234567890</a>
                            </div>
                        </div>
                        <div class="header-middle float-lg-left float-md-left float-sm-left float-xs-none">
                            <div class="logo">
                                <!--									<a href="index">-->
                                <!--										<img src="/user/img/logos/logo.png"-->
                                <!--										     alt="logo"-->
                                <!--										     width="200"-->
                                <!--										     height="50">-->
                                <!--									</a>-->
                            </div>
                        </div>
                        <div class="header-right d-flex d-xs-flex d-sm-flex justify-content-end float-right">
                            <div class="search-wrapper">
                                <a>
                                    <i class="material-icons search">search</i>
                                    <i class="material-icons close">close</i></a>
                                <form th:action="@{/home/search}" method="get" autocomplete="off"
                                      action=""
                                      class="search-form">
                                    <div class="autocomplete">
                                        <input id="myInput"
                                               type="text"
                                               name="keyword"
                                               placeholder="Tìm kiếm sản phẩm...">
                                        <button type="button"><i class="material-icons">search</i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="user-info">
                                <button type="button"
                                        class="btn">
                                    <i class="material-icons">perm_identity</i></button>
                                <div id="user-dropdown"
                                     class="user-menu">


                                    <ul sec:authorize="isAuthenticated()">
                                        <li sec:authorize="isAuthenticated() and hasAuthority('Admin')">
                                            <a th:href="@{/admin/index}">Trang quản trị</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/home/my-account}"
                                               class="text-capitalize">Tài khoản của tôi
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/home/order-history}"
                                               class="text-capitalize">Lịch sử mua hàng
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/home/sign-out}"
                                               class="text-capitalize">
                                                Đăng xuất
                                            </a>

                                        </li>
                                    </ul>
                                    <ul sec:authorize="!isAuthenticated()">
                                        <li>
                                            <a th:href="@{/home/sign-up}"
                                               class="text-capitalize">
                                                Đăng ký
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/home/sign-in}"
                                               class="text-capitalize">
                                                Đăng nhập
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cart-wrapper">
                                <button type="button"
                                        class="btn">
                                    <i class="material-icons">shopping_cart</i>
                                    <span class="ttcount">{{cart.count}}</span></button>
                                <div id="cart-dropdown"
                                     class="cart-menu">
                                    <ul class="w-100 float-left" ng-if="!cart.items.length">
                                        <p>Chưa có sản phẩm</p>
                                    </ul>
                                    <ul class="w-100 float-left" ng-if="cart.items.length">
                                        <li>
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr ng-repeat="item in cart.items">
                                                    <td class="text-center">
                                                        <a ng-href="/home/product-details/productId={{item.productId}}/brandId={{item.brand.brandId}}">
                                                            <img ng-src="/user/img/products/{{item.productImageList[0].image_url}}"
                                                                 alt="{{item.productImageList[0].image_url}}"
                                                                 title="{{item.productImageList[0].image_url}}"
                                                                 height="104"
                                                                 width="80">
                                                        </a>
                                                    </td>
                                                    <td class="text-left product-name">
                                                        <a class="text-wrap"
                                                           ng-href="/home/product-details/productId={{item.productId}}">
                                                            {{item.productName}}
                                                            ({{item.categoryQuantity[0].categoryLevel1Detail.category_level_1_detail_name}}
                                                            ,{{item.categoryQuantity[0].categoryLevel2Detail.category_level_2_detail_name}})</a>
                                                        <div class="quantity float-left w-100">
                                                            <span class="cart-qty">{{item.qty}} x</span>
                                                            <span class="text-left price">{{item.priceNew | vndFormat }}</span>
                                                        </div>

                                                    </td>
                                                    <td class="text-center close">
                                                        <a class="close-cart"
                                                           ng-click="cart.remove(
                                                                        item.productId,
                                                                        item.qty,
                                                                        item.categoryQuantity[0].category_quantity_id)"><i
                                                                class="material-icons">close</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                        <li>
                                            <table class="table price mb-30">
                                                <tbody>
                                                <tr>
                                                    <td class="text-left"><strong>Tổng tiền</strong></td>
                                                    <td class="text-right">
                                                        <strong>{{cart.amount | vndFormat}}</strong>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                        <li class="buttons w-100 float-left">
                                            <form action="">
                                                <a class="btn pull-left mt_10 pt-2 pb-2 btn-primary btn-rounded w-100"
                                                   th:href="@{/home/cart-page}">Giỏ hàng</a>
                                            </form>
                                            <form action="">
                                                <a class="btn pull-left mt_10  pt-2 pb-2  btn-primary btn-rounded w-100"
                                                   th:href="@{/home/checkout-page}">Thanh toán</a>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="container">
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-lg navbar-light d-sm-none d-xs-none d-lg-block navbar-full">

                            <!-- Navbar brand -->
                            <a class="navbar-brand text-uppercase d-none"
                               href="#">Navbar
                            </a>

                            <!-- Collapse button -->
                            <button class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarSupportedContent2"
                                    aria-controls="navbarSupportedContent2"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <!-- Collapsible content -->
                            <div class="collapse navbar-collapse">

                                <!-- Links -->
                                <ul class="navbar-nav m-auto justify-content-center">
                                    <li class="nav-item active">
                                        <a class="nav-link text-uppercase"
                                           th:href="@{/}">
                                            Trang chủ
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link text-uppercase"
                                           th:href="@{/home/product}">Sản phẩm
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link text-uppercase"
                                           th:href="@{/home/about-us}"> Giới thiệu về chúng tôi
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-uppercase"
                                           th:href="@{/home/contact-us}">Liên hệ với chúng tôi
                                        </a>
                                    </li>
                                </ul>
                                <!-- Links -->
                            </div>
                            <!-- Collapsible content -->

                        </nav>
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-lg navbar-light d-lg-none navbar-responsive">

                            <!-- Navbar brand -->
                            <a class="navbar-brand text-uppercase d-none"
                               href="#">Navbar
                            </a>

                            <!-- Collapse button -->
                            <button class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarSupportedContent2"
                                    aria-controls="navbarSupportedContent2"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"><i class="material-icons">sort</i></span>
                            </button>

                            <!-- Collapsible content -->
                            <div class="collapse navbar-collapse"
                                 id="navbarSupportedContent2">

                                <!-- Links -->
                                <ul class="navbar-nav m-auto justify-content-center">

                                    <!-- Features -->
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle text-uppercase"
                                           data-toggle="collapse"
                                           data-target="#menu1"
                                           aria-controls="menu1"
                                           aria-expanded="false"
                                           aria-label="Toggle navigation"
                                           href="#">
                                            Home
                                            <span class="sr-only">(current)</span></a>
                                        <div class="dropdown-menu mega-menu v-2 z-depth-1 special-color py-3 px-3"
                                             id="menu1">
                                            <div class="sub-menu mb-xl-0 mb-4">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           th:href="@{/home/index}">
                                                            Trang chủ
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown mega-dropdown">
                                        <a class="nav-link dropdown-toggle text-uppercase"
                                           data-toggle="collapse"
                                           data-target="#menu3"
                                           aria-controls="menu3"
                                           aria-expanded="false"
                                           aria-label="Toggle navigation"
                                           href="#">Category
                                        </a>
                                    </li>
                                    <!-- Technology -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-uppercase"
                                           data-toggle="collapse"
                                           data-target="#menu4"
                                           aria-controls="menu4"
                                           aria-expanded="false"
                                           aria-label="Toggle navigation"
                                           href="#">Blog
                                        </a>
                                        <div class="dropdown-menu mega-menu v-2 z-depth-1 special-color py-3 px-3"
                                             id="menu4">
                                            <div class="sub-menu">
                                                <h6 class="sub-title text-uppercase font-weight-bold white-text d-none">
                                                    Featured</h6>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           href="blog-2-column">
                                                            blog 2 column
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           href="blog-3-column">
                                                            blog 3 column
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           href="blog-2-column-masonary">
                                                            blog masonary
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           href="blog-list">
                                                            blog list
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           href="blog-details">
                                                            blog details
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-uppercase"
                                           href="contact-us">contact us
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-uppercase"
                                           data-toggle="collapse"
                                           data-target="#menu5"
                                           aria-controls="menu5"
                                           aria-expanded="false"
                                           aria-label="Toggle navigation"
                                           href="#">Pages
                                        </a>
                                        <div class="dropdown-menu mega-menu v-2 z-depth-1 special-color py-3 px-3"
                                             id="menu5">
                                            <div class="sub-menu">
                                                <h6 class="sub-title text-uppercase font-weight-bold white-text d-none">
                                                    Featured</h6>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           href="about-us">
                                                            About us
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="menu-item pl-0"
                                                           href="accordions">
                                                            Accordions
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- Links -->
                            </div>
                            <!-- Collapsible content -->

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>