<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
</head>
<body>
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Tất cả</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
					<li class="breadcrumb-item">Quản lý đơn hàng</li>
					<li class="breadcrumb-item active">Tất cả</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->
	</main><!-- End #main -->
</body>
</html>