<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
</head>
<body>
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Đơn huỷ</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
					<li class="breadcrumb-item">Quản lý đơn hàng</li>
					<li class="breadcrumb-item active">Đơn huỷ</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->
		<div class="card">
			<div class="card-body">
				<!-- Bordered Tabs -->
				<ul class="nav nav-tabss nav-tabs-bordered" id="borderedTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link " id="all-tab" data-bs-toggle="tab" data-bs-target="#bordered-all" type="button" role="tab" aria-controls="home" aria-selected="true">Tất cả</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="cxn-tab" data-bs-toggle="tab" data-bs-target="#bordered-cxn" type="button" role="tab" aria-controls="profile" aria-selected="false">Chờ xác nhận</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="clh-tab" data-bs-toggle="tab" data-bs-target="#bordered-clh" type="button" role="tab" aria-controls="contact" aria-selected="false">Chờ lấy hàng</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="dg-tab" data-bs-toggle="tab" data-bs-target="#bordered-dg" type="button" role="tab" aria-controls="contact" aria-selected="false">Đang giao</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="dagiao-tab" data-bs-toggle="tab" data-bs-target="#bordered-dagiao" type="button" role="tab" aria-controls="contact" aria-selected="false">Đã giao</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="dh-tab" data-bs-toggle="tab" data-bs-target="#bordered-dh" type="button" role="tab" aria-controls="contact" aria-selected="false">Đơn Huỷ</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="ht-tab" data-bs-toggle="tab" data-bs-target="#bordered-ht" type="button" role="tab" aria-controls="contact" aria-selected="false">Trả hàng/Hoàn tiền</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="ktc-tab" data-bs-toggle="tab" data-bs-target="#bordered-ktc" type="button" role="tab" aria-controls="contact" aria-selected="false">Giao không thành công</button>
					</li>
				</ul>
				<div class="tab-content pt-2" id="borderedTabContent">
					<div class="tab-pane fade " id="bordered-all" role="tabpanel" aria-labelledby="home-tab">
						<section ng-include="'/admin/manage_shipping_all.html'"></section>
					</div>
					<div class="tab-pane fade" id="bordered-cxn" role="tabpanel" aria-labelledby="profile-tab">
						<section ng-include="'/admin/manage_shipping_confirm.html'"></section>
					</div>
					<div class="tab-pane fade" id="bordered-clh" role="tabpanel" aria-labelledby="contact-tab">
						<section ng-include="'/admin/manage_shipping_pickup.html'"></section>
					</div>
					<div class="tab-pane fade" id="bordered-dg" role="tabpanel" aria-labelledby="contact-tab">
						<section ng-include="'/admin/manage_shipping_areDelivering.html'"></section>
					</div>
					<div class="tab-pane fade" id="bordered-dagiao" role="tabpanel" aria-labelledby="contact-tab">
						<section ng-include="'/admin/manage_shipping_delivered.html'"></section>
					</div>
					<div class="tab-pane fade show active" id="bordered-dh" role="tabpanel" aria-labelledby="contact-tab">
						<section ng-include="'/admin/manage_shipping_cancel.html'"></section>
					</div>
					<div class="tab-pane fade" id="bordered-ht" role="tabpanel" aria-labelledby="contact-tab">
						<section ng-include="'/admin/manage_shipping_refund.html'"></section>
					</div>
					<div class="tab-pane fade" id="bordered-ktc" role="tabpanel" aria-labelledby="contact-tab">
						<section ng-include="'/admin/manage_shipping_unsuccessful.html'"></section>
					</div>
				</div><!-- End Bordered Tabs -->
				<section ng-include="'/admin/manage_shipping_table.html'"></section>
			</div>
		</div>
	</main><!-- End #main -->
</body>
</html>