<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
</head>
<body class="container-fluid">
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Cài đặt vận chuyển</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
					<li class="breadcrumb-item">Vận chuyển</li>
					<li class="breadcrumb-item active">Cài đặt vận chuyển</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<div class="chanel-container mt-3 row">



			<i class="col-1 bx bx-box pt-3" style="font-size: 30px"></i>
			<div class="col-11">


				<div class="panel-header row">
					<div class="col-11 p-0">
						<h3>Phương thức vận chuyển</h3 >
						<span> Kích hoạt phương thức vận chuyển phù hợp</span>
					</div>
				</div>
				<hr>

				<div class="mask-channel-group mt-3">
					<div class="mask-channel-group-header  row">
						<div class="mask-channel-group-header-letf col-md-8">
							<div class="title" style="font-size:18px; font-weight: 600;" >Hỏa tốc</div>
							<div class="sub_title mb-3" style="color: #999999; font-size: 13px;">Với kênh Hỏa Tốc, người bán sẽ có thể giao hàng đến tận tay người mua trong vòng 4 giờ.</div>
						</div>

						<div class="mask-channel-group-header-right col-md-4 d-flex flex-row justify-content-end">
							<button class="btn btn-primary" style="height: max-content">
								<span>Thu gọn</span>
								<i class="bi bi-chevron-down ms-auto"></i>
							</button>
						</div>

					</div>
					<div class="mask-channel-list accordion-item" style="border-radius: 4px;border: 1px #9999 solid ">
						<div class="shipping-item-header d-flex flex-row accordion-header" style="border-bottom: 1px solid #999;" >

							<button type="button" class="col grid vertical-center col-5 row accordion-button" >
								<div class="col local-name m-2" style="max-width: fit-content; font-weight: 500">Hỏa Tốc</div>
								<div class="col text-danger m-2" style="font-size: 14px"> [COD đã được kích hoạt] </div>
								<div class="icon col-7 d-flex justify-content-end flex-grow-1 ">
									<div class="btn">
										<i class="bi bi-chevron-down ms-auto"></i>
									</div>
								</div>
							</button>

						</div>
						<div class="shipping-item-body row mt-1 accordion-collapse collapse show">
							<div class="col-6" style="border-right: 1px solid #999;">
							</div>
							<div class="col-5 ml-auto p-2" style="margin-left:20px " >
								<div class="  form-check form-switch">
									<label class="form-check-label">Kích hoạt đơn vị vận chuyển này</label>
									<input class="form-check-input" type="checkbox"  checked="" style="font-size: 20px">
								</div>
								<div class="form-check  form-switch">
									<label class="form-check-label">Kích hoạt COD</label>
									<input class="form-check-input" type="checkbox"  checked="" style="font-size: 20px">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mask-channel-group mt-3">
					<div class="mask-channel-group-header row">
						<div class="mask-channel-group-header-letf col-md-8">
							<div class="title" style="font-size:18px; font-weight: 600;" >Standard</div>
							<div class="sub_title mb-3" style="color: #999999; font-size: 13px;">
								Phương thức vận chuyển chuyên nghiệp, nhanh chóng và đáng tin cậy
							</div>
						</div>

						<div class="mask-channel-group-header-right col-md-4 d-flex flex-row justify-content-end">
							<button class="btn btn-primary" style="height: max-content">
								<span>Thu gọn</span>
								<i class="bi bi-chevron-down ms-auto"></i>
							</button>
						</div>

					</div>
					<div class="mask-channel-list " style="border-radius: 4px;border: 1px #9999 solid ">
						<div class="shipping-item-header d-flex flex-row" style="border-bottom: 1px solid #999;" >

							<div class="col grid vertical-center col-5 row" >
								<div class="col local-name m-2" style="max-width: fit-content;font-weight: 500">Nhanh</div>
								<div class="col text-danger m-2" style="font-size: 14px"> [COD đã được kích hoạt] </div>
							</div>

							<div class="icon col-7 d-flex justify-content-end flex-grow-1 ">
								<button class="btn">
									<i class="bi bi-chevron-down ms-auto"></i>
								</button>
							</div>
						</div>
						<div class="shipping-item-body row mt-1">
							<div class="col-6" style="border-right: 1px solid #999;">
							</div>
							<div class="col-5 ml-auto p-2" style="margin-left:20px " >
								<div class="  form-check form-switch">
									<label class="form-check-label">Kích hoạt đơn vị vận chuyển này</label>
									<input class="form-check-input" type="checkbox"  checked="" style="font-size: 20px">
								</div>
								<div class="form-check  form-switch">
									<label class="form-check-label">Kích hoạt COD</label>
									<input class="form-check-input" type="checkbox"  checked="" style="font-size: 20px">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mask-channel-group mt-3">
					<div class="mask-channel-group-header row">
						<div class="mask-channel-group-header-letf col-md-8">
							<div class="title" style="font-size:18px; font-weight: 600;" >Economy</div>
							<div class="sub_title mb-3" style="color: #999999; font-size: 13px;">
							Phương thức vận chuyển với chi phí cạnh tranh nhất
							</div>
						</div>

						<div class="mask-channel-group-header-right col-md-4 d-flex flex-row justify-content-end">
							<button class="btn btn-primary" style="height: max-content">
								<span>Thu gọn</span>
								<i class="bi bi-chevron-down ms-auto"></i>
							</button>
						</div>

					</div>
					<div class="mask-channel-list " style="border-radius: 4px;border: 1px #9999 solid ">
						<div class="shipping-item-header d-flex flex-row" style="border-bottom: 1px solid #999;" >

							<div class="col grid vertical-center col-5 row" >
								<div class="col local-name m-2" style="max-width: fit-content; font-weight: 500">Tiết kiệm</div>
								<div class="col text-danger m-2" style="font-size: 14px"> [COD đã được kích hoạt] </div>
							</div>

							<div class="icon col-7 d-flex justify-content-end flex-grow-1 ">
								<button class="btn">
									<i class="bi bi-chevron-down ms-auto"></i>
								</button>
							</div>
						</div>
						<div class="shipping-item-body row mt-1">
							<div class="col-6" style="border-right: 1px solid #999;">
							</div>
							<div class="col-5 ml-auto p-2" style="margin-left:20px " >
								<div class="  form-check form-switch">
									<label class="form-check-label">Kích hoạt đơn vị vận chuyển này</label>
									<input class="form-check-input" type="checkbox"  checked="" style="font-size: 20px">
								</div>
								<div class="form-check  form-switch">
									<label class="form-check-label">Kích hoạt COD</label>
									<input class="form-check-input" type="checkbox"  checked="" style="font-size: 20px">
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr class="m-4">

				<div class="card-body">
					<h5 class="card-title">Reports <span>/Today</span></h5>

					<!-- Line Chart -->
					<div id="reportsChart"></div>

					<script>
						document.addEventListener("DOMContentLoaded", () => {
							new ApexCharts(document.querySelector("#reportsChart"), {
								series: [{
									name: 'Sales',
									data: [31, 40, 28, 51, 42, 82, 56],
								}, {
									name: 'Revenue',
									data: [11, 32, 45, 32, 34, 52, 41]
								}, {
									name: 'Customers',
									data: [15, 11, 32, 18, 9, 24, 11]
								}],
								chart: {
									height: 350,
									type: 'area',
									toolbar: {
										show: false
									},
								},
								markers: {
									size: 4
								},
								colors: ['#4154f1', '#2eca6a', '#ff771d'],
								fill: {
									type: "gradient",
									gradient: {
										shadeIntensity: 1,
										opacityFrom: 0.3,
										opacityTo: 0.4,
										stops: [0, 90, 100]
									}
								},
								dataLabels: {
									enabled: false
								},
								stroke: {
									curve: 'smooth',
									width: 2
								},
								xaxis: {
									type: 'datetime',
									categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
								},
								tooltip: {
									x: {
										format: 'dd/MM/yy HH:mm'
									},
								}
							}).render();
						});
					</script>
					<!-- End Line Chart -->

				</div>


			</div>
			<i class="col-1 bx bx-printer pt-3" style="font-size: 30px"></i>
			<div class="col-11 panel-header row d-flex align-center">
				<div class="col-11 p-0">
					<h4>In Nhiệt(Thermal)</h4>
					<span > Bật In Nhiệt cho các Phiếu Xuất Hàng của tất cả phương thức vận chuyển</span>
				</div>
				<div class="col-1">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox"  checked="" style="font-size: 22px">
					</div>
				</div>
			</div>




		</div>
	</main><!-- End #main -->


</body>
</html>