<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div th:fragment="cart-pop">
  <div class="modal fade" id="cart-pop" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header alert-success">
          <h4 class="modal-title w-100w-100w-100">Product successfully added to your shopping cart</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 divide-right">
              <div class="row">
                <div class="col-md-5 col-sm-4 col-xs-12 product-img float-left">
                  <img src="/user/img/products/01.jpg" class="img-responsive" alt="01">
                </div>
                <div class="col-md-7 col-sm-8 col-xs-12 product-desc float-left">
                  <h4 class="product-title text-capitalize">Burgundy Small Dress</h4>
                  <div class="rating">
                    <div class="product-ratings d-inline-block align-middle">
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span></div></div>
                  <h3 class="price float-left w-100"><span class="regular-price align-middle">$75.00</span><span class="old-price align-middle">$60.00</span></h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 divide-left">
              <p class="cart-products-count">There are 2 items in your cart.</p>
              <p class="total-products float-left w-100">
                <strong>Total products:</strong> $150.00
              </p>
              <p class="shipping float-left w-100">
                <strong>Total shipping:</strong> free
              </p>
              <p class="total-price float-left w-100">
                <strong>Total:</strong> $150.00(tax incl.)
              </p>
              <div class="cart-content-btn float-left w-100">
                <form action="#">
                  <input class="btn pull-right mt_10 btn-primary" value="Continue shopping" type="submit">
                </form>
                <form action="checkout_page">
                  <input class="btn pull-right mt_10 btn-secondary" value="Proceed to checkout" type="submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="compare-wrapper float-left w-100">
    <div class="compare-inner d-flex align-items-center p-20">
		<span class="close"><i class='material-icons'>
  close
</i></span>
      <div class="col-xs-12 col-sm-2 col-md-3 float-left d-flex align-items-center flex-column compare-left">
        <h2>compare products</h2>
        <div class="compare-btn">show all</div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-9 d-flex float-left align-items-center compare-right">
        <div class="compare-close-btn"></div>
        <div class="compare-products d-flex col-sm-7 col-lg-5">
          <div class="row">
            <div class="single-item col-sm-4 col-xs-4">
              <div class="remove"></div>
              <div class="image"><img src="/user/img/products/01.jpg" class="img-fluid" alt=""></div>
            </div>
            <div class="single-item col-sm-4 col-xs-4">
              <div class="remove"></div>
              <div class="image"><img src="/user/img/products/02.jpg" class="img-fluid" alt=""></div>
            </div>
            <div class="single-item col-sm-4 col-xs-4">
              <div class="remove"></div>
              <div class="image"><img src="/user/img/products/03.jpg" class="img-fluid" alt=""></div>
            </div>
          </div>
        </div>
        <div class="buttons col-sm-5 col-lg-2">
          <a href="compare" class="compare-btn btn btn-secondary float-left w-100 mb-15">compare</a>
          <div class="clear-btn btn btn-primary float-left w-100">clear</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>