<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="register_modal">
		<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-medium text-left">Sign up</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">
						<div class="md-form mb-4">
							<input type="text" id="RegisterForm-name" class="form-control validate" placeholder="Your name">
						</div>
						<div class="md-form mb-4">
							<input type="email" id="RegisterForm-email" class="form-control validate" placeholder="Your email">
						</div>
						<div class="md-form mb-4">
							<input type="password" id="RegisterForm-pass" class="form-control validate" placeholder="Your password">
						</div>
						<div class="checkbox-link d-flex justify-content-between">
							<div class="left-col">
								<input id="remember-me" type="checkbox"><label for="remember_me">Remember Me</label>
							</div>
							<div class="right-col"><a href="#">Forget Password?</a></div>
						</div>
					</div>

					<div class="modal-footer d-flex justify-content-center">
						<button class="btn btn-primary">Sign up</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>