
<main id="main" class="main">

	<div class="pagetitle">
		<h1>Tài khoản vi phạm</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
				<li class="breadcrumb-item">Tài khản</li>
				<li class="breadcrumb-item active">Thêm tài khoản</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Thông tin tài khoản</h5>

			<!-- Floating Labels Form -->
			<form class="row g-3" name="myForm" method="post">
				<div class="col-md-12">
					<label class="col-md-4 col-lg-3 col-form-label">Ảnh đại diện</label>
					<div class="col-md-2 form-group inputDnD">
						<input type="file"
							   name="fileName"
							   ng-model="form.avatar_url"
							   class="form-control-file text-primary font-weight-bold"
							   id="inputFile" accept="image/*" onchange="readUrl(this)"
							   data-title="+"
							   style="display: none;">
						<img id="previewImage" src="http://localhost:8080/rest/manage_account/image/{{form.avatar_url}}" alt="Image" style=" max-height: 100px;border: 1px solid #dee2e6;padding: 17px;border-radius: 5px;">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-floating">
						<input type="text" name="username" ng-model="form.username" class="form-control" id="floatingName" placeholder="Username" required >
						<label for="floatingName">Tên tài khoản</label>
						<span style="color: red;font-weight: 600;font-style: italic" ng-show=" myForm.username.$touched && myForm.username.$invalid">Username không được để trống.</span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-floating">
						<input type="text" name="fullname" ng-model="form.fullname" class="form-control" id="floatingFullName" placeholder="Họ và tên" required>
						<label for="floatingName">Họ và tên</label>
						<span style="color: red;font-weight: 600;font-style: italic" ng-show=" myForm.fullname.$touched && myForm.fullname.$invalid">Fullname không được để trống.</span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-floating">
						<input type="text" name="phone_number" ng-model="form.phone_number"  class="form-control" id="floatingPhoneNumber" placeholder="Số điện thoại" required>
						<label for="floatingName">Số điện thoại</label>
						<span style="color: red;font-weight: 600;font-style: italic" ng-show=" myForm.phone_number.$touched && myForm.phone_number.$invalid">Số điện thoại không được để trống.</span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-floating">
						<input type="email" name="email" ng-model="form.email"  class="form-control" id="floatingEmail" placeholder="Email" required>
						<label for="floatingEmail">Email</label>
						<span style="color: red;font-weight: 600;font-style: italic" ng-show=" myForm.email.$touched && myForm.email.$invalid">Email không được để trống.</span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-floating">
						<input type="date" id="floatingDate" name="birthday" ng-model="form.birthday"  class="form-control" required>
						<label for="floatingDate">Ngày sinh</label>
						<span style="color: red;font-weight: 600;font-style: italic" ng-show=" myForm.birthday.$touched && myForm.birthday.$invalid">Ngày tháng năm sinh không được để trống.</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-floating">
						<input type="password" name="password" class="form-control" id="floatingPassword" ng-model="form.password" placeholder="Mật khẩu" disabled>
						<label for="floatingPassword">Mật khẩu</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-floating">
						<input type="password" name="passwordnew" class="form-control" id="floatingPassword1" ng-model="form.passwordnew" placeholder="Mật khẩu mới">
						<label for="floatingPassword1">Mật khẩu mới</label>
					</div>
				</div>
				<fieldset class="col-12">
					<legend class="col-form-label col-sm-2 pt-0">Quyền</legend>
					<div class="col-sm-10">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" ng-disabled="disable" ng-model="form.roles[0].role_id " ng-value="1">
							<label class="form-check-label" for="gridRadios1">
								Admin
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" ng-disabled="disable" ng-model="form.roles[0].role_id" ng-value="2">
							<label class="form-check-label" for="gridRadios2">
								Người dùng
							</label>
						</div>

					</div>
				</fieldset>
				<div class="text-center">
					<button type="submit" class="btn btn-primary" ng-click="update()" >Xác nhận</button>
					<button class="btn btn-secondary" ng-click="reset()">Đặt lại</button>
				</div>
			</form><!-- End floating Labels Form -->

		</div>
	</div>

</main><!-- End #main -->
<script>
	function readUrl(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				var imageElement = document.getElementById("previewImage");
				imageElement.src = e.target.result;
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
	document.getElementById("previewImage").addEventListener("click", function () {
		document.getElementById("inputFile").click();
	});

</script>