<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed;top: 68px; right: 30px" ng-show="succesAccount">
                        <i class="bi bi-check-circle me-1"></i>
                        {{alerSuccess}}
                    </div>
                    <h5 class="card-title">Danh sách tất cả tài khoản</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th scope="col">Tài khoản</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">SĐT</th>
                            <th scope="col">Ngày sinh</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in pager.items">
                            <td>{{item.username}}</td>
                            <td>{{item.fullname}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phone_number}}</td>
                            <td>{{item.birthday}}</td>
                            <td>{{item.accountStatus.accountStatusName}}</td>
                            <td ng-if="item.accountStatus.accountStatusName === 'Inactive'">
                                <button type="button" class="btn btn-primary" ng-click="edit(item)">Cập nhật</button>
                                <button  ng-click="setItemToHide(item)"  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verticalycentered" >
                                    Hiện
                                </button>
                                <div class="modal fade" id="verticalycentered" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"> Bạn có chắc muốn hiện tài khoản này</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <!-- <div class="modal-body">
                                              <form action="" class="row g-3">
                                                <div class="col-md-12">
                                                  <div class="form-floating">
                                                    <input type="text" class="form-control" id="floatingReasonBan" placeholder="Lý do cấm">
                                                    <label for="floatingReasonBan">Bạn có chắc chắn muốn ẩn</label>
                                                  </div>
                                                </div>
                                              </form>
                                            </div> -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                                                <button type="button" class="btn btn-primary" ng-click="show(itemToHide)" data-bs-dismiss="modal" >Xác nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Vertically centered Modal-->
                            </td>
                            <td  ng-if="item.accountStatus.accountStatusName === 'Active'">
                                <button type="button" class="btn btn-primary" ng-click="edit(item)">Cập nhật</button>
                                <button  ng-click="setItemToHide(item)"  type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#verticalycentered1">
                                    Ẩn
                                </button> <div class="modal fade" id="verticalycentered1" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> Bạn có chắc muốn ẩn tài khoản này</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <!-- <div class="modal-body">
                                          <form action="" class="row g-3">
                                            <div class="col-md-12">
                                              <div class="form-floating">
                                                <input type="text" class="form-control" id="floatingReasonBan" placeholder="Lý do cấm">
                                                <label for="floatingReasonBan">Bạn có chắc chắn muốn ẩn</label>
                                              </div>
                                            </div>
                                          </form>
                                        </div> -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                                            <button type="button" class="btn btn-primary" ng-click="hidden(itemToHide)" data-bs-dismiss="modal">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Vertically centered Modal-->

                            </td>
                            <td  ng-if="item.accountStatus.accountStatusName === 'Suspended'">
                                <button type="button" class="btn btn-primary" ng-click="edit(item)">Cập nhật</button>
                                <button  ng-click="setItemToHide(item)"  type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Suspended">
                                    Ân xá
                                </button> <div class="modal fade" id="Suspended" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> Bạn có chắc muốn ân xá tài khoản này</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <!-- <div class="modal-body">
                                          <form action="" class="row g-3">
                                            <div class="col-md-12">
                                              <div class="form-floating">
                                                <input type="text" class="form-control" id="floatingReasonBan" placeholder="Lý do cấm">
                                                <label for="floatingReasonBan">Bạn có chắc chắn muốn ẩn</label>
                                              </div>
                                            </div>
                                          </form>
                                        </div> -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                                            <button type="button" class="btn btn-primary" ng-click="report(itemToHide)" data-bs-dismiss="modal">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Vertically centered Modal-->

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>


</section>