<main id="main" class="main">
    <div class="pagetitle">
        <h1>Chỉnh Sửa Sản Phẩm</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item">Quản lý sản phẩm</li>
                <li class="breadcrumb-item active">Chỉnh Sửa Sản Phẩm</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông Tin Cơ Bản</h5>
                <form>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tên Sản Phẩm</label>
                        <div class="col-sm-10">
                            <input id="product-name" type="text" class="form-control" ng-model="product.productName"
                                   placeholder="VD : Áo Phông">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Giá</label>
                        <div class="col-sm-10">
                            <input id="product-price" type="number" class="form-control"
                                   ng-model="product.priceOld" placeholder="VD : 10000 -> 10000 VND">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Giá Mới</label>
                        <div class="col-sm-10">
                            <input id="product-discount" type="number"
                                   class="form-control" ng-model="product.priceNew">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Thương Hiệu</label>
                        <div class="col-sm-10">
                            <select id="product-brand" class="form-select"
                                    aria-label="Default select example" ng-model="product.brand.brandId">
                                <option disabled value="">Vui Lòng Chọn Thương Hiệu</option>
                                <option ng-repeat="brand in brands" ng-value="brand.brandId">{{brand.brandName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Loại Sản Phẩm</label>
                        <div class="col-sm-10">
                            <select id="product-directory-lv1" class="form-select"
                                    aria-label="Default select example" ng-model="product.directoryLv1.directoryLv1Id">
                                <option disabled value="">Vui Lòng Chọn Loại Sản Phẩm</option>
                                <option ng-repeat="directoryLv1 in directoryLv1s" ng-value="directoryLv1.directoryLv1Id">
                                    {{directoryLv1.directoryLv1Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Mô tả sản phẩm</label>
                        <div class="col-sm-10">
                            <textarea id="product-description" ng-model="product.productDescription" class="form-control" style="height: 100px"
                                      placeholder="Một Số Chi Tiết Về Sản Phẩm Của Bạn" ng-value=""></textarea>
                        </div>
                    </div>
                </form><!-- End General Form Elements -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thông Tin Bán Hàng</h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Kích Cỡ</th>
                                    <th scope="col">Màu Sắc</th>
                                    <th scope="col">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="categoryQuantity in categoryQuantities">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{categoryQuantity.categoryLevel1Detail.category_level_1_detail_name}}</td>
                                    <td>{{categoryQuantity.categoryLevel2Detail.category_level_2_detail_name}}</td>
                                    <td><input class="form-control" type="number" min="0" max="1000" ng-model="categoryQuantities[$index].quantity"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-12">
        <button type="button" class="btn btn-primary text-center" ng-click="submit(product.productId)">Thay Đổi</button>
    </div>
</main>
