<main id="main" class="main">
    <div class="pagetitle row">
        <div class="col-lg-6">
            <h1>Quản lý danh mục</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item">Quản lý sản phẩm</li>
                    <li class="breadcrumb-item active">Quản lý danh mục</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6">
            <div class="alert alert-dismissible fade show" ng-class="{'alert-success': Messsuccess, 'alert-danger': Messerror,'alert-warning': Messwarning}">
                <i class="bi me-1" ng-class="{'bi-check-circle': Messsuccess, 'bi-exclamation-octagon': Messerror,'bi-exclamation-triangle': Messwarning}"></i>
                {{ message }}
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ng-click="closeAlert()"></button>-->
            </div>

        </div>
    </div><!-- End Page Title -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">

                    <li class="nav-item">
                        <button class="nav-link " data-bs-toggle="tab" data-bs-target="#list-directory">Danh sách
                            danh mục
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#manage-directory">Quản lý danh
                            mục
                        </button>
                    </li>

                </ul>
                <div class="tab-content pt-2">

                    <div class="tab-pane fade profile-overview" id="list-directory">
                        <div class="card-body">
                            <h3 class="card-title">

                            </h3>

                            <!-- Table with stripped rows -->
                            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                                <div class="datatable-top">
                                    <div class="datatable-dropdown">
                                        <label>
                                            <select class="datatable-selector">
                                                <option value="5">5</option>
                                                <option value="10" selected="">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                            </select> Hiện số dòng trên trang

                                        </label>
                                    </div>
                                    <div class="datatable-search">
                                        <input class="datatable-input" placeholder="Search..." type="search"
                                               title="Search within table">
                                    </div>
                                </div>

                                <div class="datatable-container">
                                    <table class="table datatable datatable-table">
                                        <thead>
                                        <tr>
                                            <th data-sortable="true" style="width: 20%;">
                                                <button class="datatable-sorter"># ID</button>
                                            </th>
                                            <th data-sortable="true" style="width: 60%;">
                                                <button class="datatable-sorter">THƯƠNG HIỆU</button>
                                            </th>
                                            <th data-sortable="true" style="width: 20%;">
                                                ẨN/XÓA
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-index="0">
                                            <td>100843</td>
                                            <td>Levi's</td>
                                            <td>
                                                <button type="button" class="btn btn-primary">
                                                    <i class="bx bxs-hide"></i>
                                                </button>
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="bx bxs-x-circle"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        <tr data-index="2">
                                            <td>100925</td>
                                            <td>Tommy Hilfiger</td>
                                            <td>
                                                <button type="button" class="btn btn-primary">
                                                    <i class="bx bxs-hide"></i>
                                                </button>
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="bx bxs-x-circle"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="datatable-bottom">
                                    <div class="datatable-info">Showing 1 to 5 of 5 entries</div>
                                    <nav class="datatable-pagination">
                                        <ul class="datatable-pagination-list"></ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>

                    <div class=" tab-pane fade show active profile-edit chanel-container pt-3" id="manage-directory">
                        <!--						<div class="col-lg-6">-->

                        <div class="card">
                            <div class="card-body">
                                <div class="card-title row d-flex flex-row justify-content-between">

                                    <div class="col-8 row mb-3">
                                        <label class="col-sm-2 col-form-label">GIỚI TÍNH</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example"
                                                    ng-model="genderSelected" ng-change="onChangeGender()">
                                                <option value="">Options</option>
                                                <option ng-repeat="gender in genders" ng-value="gender">
                                                    {{gender.genderName}}
                                                </option>

                                            </select>
                                        </div>
                                        <h3>{{genderSelected.items}}</h3>
                                    </div>
                                    <!--                                    Thêm danh mục cha-->
                                    <div class="col-3 ">
                                        <button class="btn btn-primary d-flex align-items-center" type="button"
                                                data-bs-toggle="modal" data-bs-target="#create_directory">
                                            <i class="bx bx-plus"></i><b>Thêm danh mục</b>
                                        </button>
                                        <form method="post" class="modal fade" id="create_directory" tabindex="-2">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Thêm danh mục</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" ng-model="form.directoryName"
                                                               class="form-control" id="inputText"
                                                               placeholder="Tên danh mục...."></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel
                                                        </button>
                                                        <button type="button" class="btn btn-primary"
                                                                ng-click="createDir(genderSelected.genderId)">Thêm mới
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <!-- Default Accordion -->
                                <div class="accordion" id="accordionExample">

                                    <div class="accordion-item" ng-repeat="directory in items">
                                        <div class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ $index }}"
                                                    aria-expanded="true" aria-controls="collapse{{ $index }}"
                                                    ng-value="directory"
                                                    ng-click="ClickDirectory(directory.directoryId)">
                                                <h5>{{directory.directoryName}}</h5>
                                            </button>
                                        </div>
                                        <div id="collapse{{ $index }}" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body" ng-controller="directoryLv1_ctrl" >
                                                <ul>
                                                    <li class="row d-flex flex-row align-items-center p-3"
                                                        ng-repeat="directoryLv1 in ListdirectoryLv1 | filter: filterByDirectoryId ">

                                                        <div class="col-1 form-check ">
                                                            <input class="form-check-input" type="checkbox" ng-model="directoryLv1.checked">
                                                        </div>
                                                        <!-- SỬA DANH MỤC CON-->
                                                        <div  class="col-10 name_directory_lv1" >
                                                            <a class="mb-3" href="#">{{directoryLv1.directoryLv1Name}}</a>
                                                            <button class="btn" type="button" data-bs-toggle="modal"
                                                                    data-bs-target="{{'#edit_name_directory_lv1_' + directory.directoryId + directoryLv1.directoryLv1Id }}" ng-click="selectDirectoryLv1(directoryLv1)">
                                                                <i class="bx bx-edit-alt"></i>
                                                            </button>
                                                            <div class="modal fade" id="{{'edit_name_directory_lv1_'+ + directory.directoryId + directoryLv1.directoryLv1Id}}" tabindex="-3">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Tên danh mục con</h5>
                                                                            <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal"
                                                                                    aria-label="Close">
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <input type="text" class="form-control"
                                                                                   ng-model="selectedDirectoryLv1.directoryLv1Name"
                                                                                   placeholder="Tên danh mục con....">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Cancel
                                                                            </button>
                                                                            <button type="submit" class="btn btn-primary" ng-click="updateDirLV1()">
                                                                                Thay đổi
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-1 form-check form-switch">
                                                            <input
                                                                    id="{{directoryLv1.directoryLv1Id}}"
                                                                    class="form-check-input"
                                                                    type="checkbox"
                                                                    onchange="changeIsActiveDirectoryLv1(this)"
                                                                   ng-checked="directoryLv1.isActive">
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="d-flex flex-row-reverse justify-content-end">
                                                    <!-- XÓA NHỮNG DANH MỤC CON ĐƯỢC CHECK-->
                                                    <button class="btn btn-danger d-flex align-items-center m-2"
                                                            type="button" style="font-size: 14px;"
                                                            ng-click="deleteSelectedItems()">
                                                        <i class="bx bx-minus"></i>
                                                        <b>Xóa các mục đã đánh dấu</b>
                                                    </button>
                                                    <button class="btn btn-primary d-flex align-items-center m-2"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="{{'#create_directory_lv1_'+ directory.directoryId}}"
                                                            type="button"
                                                            style="font-size: 14px;">
                                                        <i class="bx bx-plus"></i>
                                                        <b>Thêm danh mục con</b>
                                                    </button>
                                                        <form method="post" class="modal fade"
                                                              id="{{'create_directory_lv1_'+ directory.directoryId}}"
                                                              tabindex="-1" ng-submit="creatDirLv1(directory.directoryId)">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Danh mục con</h5>
                                                                        <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <input type="text" class="form-control"
                                                                               ng-model="form.directoryLv1Name"
                                                                               placeholder="Tên danh mục con....">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Cancel
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Thêm mới
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- End Default Accordion Example -->

                            </div>
                        </div>

                        <!--						</div>-->


                    </div>

                </div><!-- End Bordered Tabs -->

            </div>
        </div>

    </div>
</main><!-- End #main -->
