<main id="main" class="main">
    <div class="pagetitle">
        <h1>Quản lý thương hiệu</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item">Quản lý sản phẩm</li>
                <li class="breadcrumb-item active">Quản lý thương hiệu</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- ----------------------------------------------------------------------------------------------- -->
    <section class="section profile">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#manager-brand"
                                   data-bs-target="#manager-brand">Đang hoạt động </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#add-brand" data-bs-target="#add-brand">Quản
                                    lí thương hiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#hidden-brand"
                                   data-bs-target="#hidden-brand">Đã Ẩn</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active profile-overview pt-3" id="manager-brand">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <h5 class="card-title col-9">THƯƠNG HIỆU ĐANG HOẠT ĐỘNG</h5>
                                            <div class="col-3 ps-5 mt-2">
                                                <button type="button" class="btn btn-primary " g-click="them()">
                                                    Thêm một thương hiệu
                                                </button>
                                            </div>
                                        </div>
                                        <div class="alert alert-success alert-dismissible fade show" ng-show="showAlert"
                                             role="alert" style="position: fixed; top: 68px; right: 10px;">
                                            <i class="bi bi-check-circle me-1"></i>
                                            {{succes}}
                                        </div>

                                        <table class="table datatable">
                                            <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col" style="width: 14%">Tên thương hiệu</th>
                                                <th scope="col" style="width: 18%">Website thương hiệu</th>
                                                <th scope="col">Thông tin thêm</th>
                                                <th scope="col">Hành động</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in pager.items">
                                                <th scope="row">{{item.brandId}}</th>
                                                <td>{{item.brandName}}</td>
                                                <td>{{item.websiteUrl}}</td>
                                                <td>{{item.anotherInformation}}</td>
                                                <td class="d-flex"><a type="button" class="btn btn-primary"
                                                                      ng-click="edit(item)">Sửa</a>

                                                    <button type="button" class="btn btn-danger "
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#verticalycentered"
                                                            ng-click="setItemToHide(item)">
                                                        Ẩn
                                                    </button>
                                                    <div class="modal fade" id="verticalycentered" tabindex="-1">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"> Bạn có chắc muốn ẩn tài
                                                                        khoản này</h5>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Huỷ
                                                                    </button>
                                                                    <a type="button" class="btn btn-primary"
                                                                       data-bs-dismiss="modal"
                                                                       ng-click="hidden(itemToHide)">Xác nhận</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- End Vertically centered Modal-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <div class="panel-footer text-center">
                                                <button ng-click="pager.first()" class="btn btn-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-left-circle-fill"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                                    </svg>
                                                </button>
                                                <button ng-click="pager.prev()" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-left-circle"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                                    </svg>
                                                </button>
                                                <button class="btn btn-success">
                                                    {{pager.page + 1}} of {{pager.count}}
                                                </button>
                                                <button ng-click="pager.next()" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-right-circle"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                                    </svg>
                                                </button>
                                                <button ng-click="pager.last()" class="btn btn-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="add-brand">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">THÊM THƯƠNG HIỆU MỚI</h5>
                                        <div class="alert alert-danger alert-dismissible fade show" ng-show="showAlert1"
                                             role="alert" style="position: fixed; top: 68px; right: 10px;">
                                            <i class="bi bi-exclamation-octagon me-1"></i>
                                            {{succes1}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" name="myForm" enctype="multipart/form-data">
                                            <div class="row mb-3">
                                                <input ng-model="form.brandId" type="text" hidden="hidden"
                                                       class="form-control">
                                                <label class="col-sm-2 col-form-label">Tên thương hiệu</label>
                                                <div class="col-sm-10">
                                                    <input name="brandName" ng-model="form.brandName" type="text"
                                                           class="form-control" required>
                                                    <span style="color: red;font-weight: 600;font-style: italic"
                                                          ng-show=" myForm.brandName.$touched && myForm.brandName.$invalid">Tên thương hiệu không được để trống.</span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label">Website thương hiệu</label>
                                                <div class="col-sm-10">
                                                    <input name="websiteUrl" ng-model="form.websiteUrl" type="text"
                                                           class="form-control" required>
                                                    <span style="color: red;font-weight: 600;font-style: italic"
                                                          ng-show=" myForm.websiteUrl.$touched  && myForm.websiteUrl.$invalid">Website thương hiệu không được để trống.</span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" style="margin-top: 6px;">Website
                                                    URL</label>
                                                <div class="col-md-2 form-group inputDnD">
                                                    <input type="file"
                                                           name="fileName"
                                                           ng-model="form.logo_url"
                                                           class="form-control-file text-primary font-weight-bold"
                                                           id="inputFile" accept="image/*" onchange="readUrl(this)"
                                                           data-title="+"
                                                           style="display: none;" required>
                                                    <img id="previewImage" src="{{form.logoUrl}}" alt="Image"
                                                         style=" max-height: 100px;border: 1px solid #dee2e6;padding: 17px;border-radius: 5px;">
                                                    <p class="add-img">Hình ảnh</p>
                                                </div>

                                            </div>


                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label">Thông tin
                                                    thêm</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="anotherInformation"
                                                              ng-model="form.anotherInformation" style="height: 100px"
                                                              required></textarea>
                                                    <span style="color: red;font-weight: 600;font-style: italic"
                                                          ng-show=" myForm.anotherInformation.$touched  && myForm.anotherInformation.$invalid">Thông tin thương hiệu không được để trống.</span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-12" style="display: flex;justify-content: center">
                                                    <button style="margin-left: 1%;" ng-click="create()"
                                                            ng-disabled="disabled"
                                                            ng-show="!isHidden" class="btn btn-success">Thêm
                                                    </button>
                                                    <button style="margin-left: 1%;" ng-click="update()"
                                                            class="btn btn-danger">Sửa
                                                    </button>
                                                    <button style="margin-left: 1%;" ng-click="reset()"
                                                            class="btn btn-secondary">Reset
                                                    </button>

                                                </div>
                                            </div>
                                        </form><!-- End General Form Elements -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="hidden-brand">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title" style="display: flex;justify-content: space-between">
                                            <h5 class="card-title">THƯƠNG HIỆU ĐÃ ẨN</h5>
                                        </div>
                                        <div class="alert alert-success alert-dismissible fade show" ng-show="showAlert"
                                             role="alert" style="position: fixed; top: 68px; right: 10px;">
                                            <i class="bi bi-check-circle me-1"></i>
                                            {{succes1}}
                                        </div>

                                        <table class="table datatable">
                                            <thead>
                                            <tr>
                                                <th scope="col" style="width: 14%">Tên thương hiệu</th>
                                                <th scope="col" style="width: 18%">Website thương hiệu</th>
                                                <th scope="col">Thông tin thêm</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in pagerHidden.items">
                                                <td>{{item.brandName}}</td>
                                                <td>{{item.websiteUrl}}</td>
                                                <td>{{item.anotherInformation}}</td>
                                                <td><a type="button" class="btn btn-info" ng-click="edit(item)">Edit</a>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                            data-bs-target="#verticalycentered1"
                                                            ng-click="setItemToHide(item)">
                                                        Hiện
                                                    </button>
                                                    <div class="modal fade" id="verticalycentered1" tabindex="-1">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"> Bạn có chắc muốn hiển thị
                                                                        tài khoản này</h5>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Huỷ
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary"
                                                                            data-bs-dismiss="modal"
                                                                            ng-click="show(itemToHide)">Xác nhận
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- End Vertically centered Modal-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <div class="panel-footer text-center">
                                                <button ng-click="pagerHidden.first()" class="btn btn-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-left-circle-fill"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                                    </svg>
                                                </button>
                                                <button ng-click="pagerHidden.prev()" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-left-circle"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                                    </svg>
                                                </button>
                                                <button class="btn btn-success">
                                                    {{pagerHidden.page + 1}} of {{pagerHidden.count}}
                                                </button>
                                                <button ng-click="pagerHidden.next()" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-right-circle"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                                    </svg>
                                                </button>
                                                <button ng-click="pagerHidden.last()" class="btn btn-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Bordered Tabs -->
        </div>

    </section>
    <!-- ----------------------------------------------------------------------------------------------- -->


</main><!-- End #main -->
<script>
    function readUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imageElement = document.getElementById("previewImage");
                imageElement.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    // Khi người dùng nhấp vào hình ảnh, kích hoạt sự kiện click trên trường input tạm thời
    document.getElementById("previewImage").addEventListener("click", function () {
        document.getElementById("inputFile").click();
    });

</script>

