
<div class="card-body" ng-if="items">


    <!-- Table with hoverable rows -->
    <table class="table datatable">
        <thead>
        <tr>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Đánh giá</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thông tin thêm</th>
            <th scope="col">Brand</th>
            <th scope="col">Giá</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in pager.items">
            <td style="height: 130px">{{item.productId}}</td>
            <td style="height: 130px">{{item.productName}}</td>
            <td style="height: 130px">{{item.productRating}}</td>
            <td style="height: 130px">{{item.createDate}}</td>
            <td style="height: 130px">{{item.isRemoved}}</td>
            <td style="height: 130px">{{item.productDescription}}</td>
            <td style="height: 130px">{{item.brand.brandId}}</td>
            <td style="height: 130px">{{item.category_quantity.price}}</td>
            <td>
                <button style="width: 55px; font-size: 11px; " type="button" class="btn btn-outline-secondary">Edit</button>

<!--                <div class="dropdown">-->
<!--                   <button style="font-size: 11px;" type="button" class="btn btn-outline-secondary">More</button>-->
<!--                   <div class="dropdown-options">-->
<!--                       <a href="#">Xem thêm</a>-->
<!--                       <a href="" ng-click="HiddenProDuct(item.productId)">Ẩn</a>-->
<!--                    </div>-->
<!--               </div>-->
                <button style="font-size: 11px; width: 55px; margin-top: 5px" type="button" class="btn btn-outline-secondary">Copy</button>
                <button type="button" class="btn btn-secondary" style="margin-top: 8px; width: 55px" data-bs-toggle="modal" data-bs-target="{{'#modal_' + item.productId}}">
                    Ẩn
                </button>
                <div class="modal fade" id="{{'modal_' + item.productId}}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"> Bạn có chắc muốn ẩn sản phẩm {{item.productName}} này ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  ng-click="HiddenProDuct(item.productId)">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="text-center">
        <div class="panel-footer text-center">
            <button ng-click="pager.first()" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </button>
            <button ng-click="pager.prev()" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </button>
            <button class="btn btn-success">
                {{pager.page + 1}} of {{pager.count}}
            </button>
            <button ng-click="pager.next()" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </button>
            <button ng-click="pager.last()" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </button>
        </div>
    </div>
</div>