<div class="card-body">


    <!-- Table with hoverable rows -->
    <table class="table datatable">
        <thead>
        <tr>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Đánh giá</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thông tin thêm</th>
            <th scope="col">Giá</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td style="height: 130px">{{item.productId}}</td>
            <td style="height: 130px">{{item.productName}}</td>
            <td style="height: 130px">{{item.productRating}}</td>
            <td style="height: 130px">{{item.createDate}}</td>
            <td style="height: 130px">{{item.isRemoved}}</td>
            <td style="height: 130px">{{item.productDescription}}</td>
            <td style="height: 130px">{{item.price}}</td>
            <td>
                <button style="width: 55px; font-size: 11px; " type="button" class="btn btn-outline-secondary">Edit</button>
                <div class="dropdown">
                    <button style="font-size: 11px;" type="button" class="btn btn-outline-secondary">More</button>
                    <div class="dropdown-options">
                        <a href="#">Xem thêm</a>
                        <a href="" ng-click="HiddenProDuct(item.productId)">Ẩn</a>
                    </div>
                </div>
                <button style="font-size: 11px; width: 55px; margin-top: 5px" type="button" class="btn btn-outline-secondary">Copy</button>
            </td>
        </tr>

        </tbody>
    </table>
    <!-- End Table with hoverable rows -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav><!-- End Centered Pagination -->
</div>