<main id="main" class="main">
    <div class="pagetitle">
        <h1>Thêm sản phẩm</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item">Quản lý sản phẩm</li>
                <li class="breadcrumb-item active">Thêm sản phẩm</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông Tin Cơ Bản</h5>
                <form>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Hình Ảnh Sản Phẩm</label>
                        <div class="col-sm-10">
                            <input id="product-image-input" class="form-control" type="file" id="HinhAnh"
                                   accept="image/*"
                                   onchange="validateInput(this), angular.element(this).scope().productImagesChanged(this)"
                                   multiple>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tên Sản Phẩm</label>
                        <div class="col-sm-10">
                            <input onchange="validateInput(this)" id="product-name" type="text" class="form-control"
                                   ng-model="productName" placeholder="VD : Áo Phông">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Giá</label>
                        <div class="col-sm-10">
                            <input onchange="validateInput(this)" id="product-price" type="number" class="form-control"
                                   ng-model="productPrice" placeholder="VD : 10000 -> 10000 VND">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Giảm Giá</label>
                        <div class="col-sm-10">
                            <input onchange="validateInput(this)" id="product-discount" type="number"
                                   class="form-control" ng-model="productDiscount"
                                   placeholder="VD : 10000 -> 10000 VND">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Thương Hiệu</label>
                        <div class="col-sm-10">
                            <select onchange="validateInput(this)" id="product-brand" class="form-select"
                                    aria-label="Default select example" ng-model="productBrand">
                                <option value="">Vui Lòng Chọn Thương Hiệu</option>
                                <option ng-repeat="brand in brands" ng-value="brand">{{brand.brandName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Loại Sản Phẩm</label>
                        <div class="col-sm-10">
                            <select onchange="validateInput(this)" id="product-directory-lv1" class="form-select"
                                    aria-label="Default select example" ng-model="ProductDirectory">
                                <option value="">Vui Lòng Chọn Loại Sản Phẩm</option>
                                <option ng-repeat="directoryLv1 in directoryLv1s" ng-value="directoryLv1">
                                    {{directoryLv1.directoryLv1Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Kho Hàng</label>
                        <div class="col-sm-10">
                            <input onchange="validateInput(this)" min="0" max="1000" id="product-quantity" type="number" class="form-control" ng-model="productQuantity">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Mô tả sản phẩm</label>
                        <div class="col-sm-10">
                            <textarea onchange="validateInput(this)" id="product-description"
                                      ng-model="productDescription" class="form-control" style="height: 100px"
                                      placeholder="Một Số Chi Tiết Về Sản Phẩm Của Bạn" ng-value=""></textarea>
                        </div>
                    </div>
                </form><!-- End General Form Elements -->
            </div>
        </div>
        <div class="card" hidden="hidden">
            <div class="card-body">
                <h5 class="card-title">Thông Tin Chi Tiết</h5>
                <form class="row">
                    <label class="col-sm-3 col-form-label" ng-show="!InformationTypes || InformationTypes.length === 0">Thông
                        Tin Chi Tiết Của Danh Mục Hiện Đang Trống</label>
                    <div class="row mb-3 col-6" ng-repeat="InformationType in InformationTypes">
                        <label class="col-sm-3 col-form-label">{{InformationType.informationTypeName}}</label>
                        <div class="col-sm-9" ng-switch="InformationType.type.typeName">
                            <div ng-switch-when="Select Box">
                                <select class="form-select" aria-label="Default select example"
                                        ng-model="InformationType.selectedValue"
                                        ng-options="detailInformationType.detailInformationTypeName for detailInformationType in InformationType.detailInfoList">
                                </select>
                            </div>
                        </div>
                    </div>
                </form><!-- End General Form Elements -->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông Tin Bán Hàng</h5>
                <form action="" class="row">
                    <div class="row mb-2 py-2">
                        <div class="row" ng-if="!showclassification1">
                            <label class="col-sm-2 col-form-label">Phân Loại Hàng</label>
                            <div class="col-sm-12">
                                <button class="btn btn-primary col-mb-2" ng-click="addClassificationOfGoodsOne()"
                                        ng-hide="showclassification1">Thêm Phâm Loại
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-10 row">
                            <div ng-show="showclassification1">
                                <label class="col-sm-2 col-form-label">Nhóm Phân Loại 1</label>
                                <div class="col-sm-5">
                                    <input disabled id="classificationGround1" type="text" class="form-control" ng-model="classificationGround1">
                                </div>
                                <label class="col-sm-2 col-form-label">Phân Loại Hàng</label>
                                <div class="col-sm-10">
                                    <input   id="classificationText1" type="text" class="form-control" ng-model="classificationText1"
                                           ng-change="changedInClassfication()">
                                </div>
                                <button class="btn btn-primary mb-2" style="margin: 10px 0"
                                        ng-click="addClassificationOfGoodsTwo()" ng-hide="showclassification2">Thêm Phân
                                    Loại 2
                                </button>
                            </div>
                            <div ng-show="showclassification2"><label class="col-sm-2 col-form-label py-2">Nhóm Phân Loại
                                2</label>
                                <div class="col-sm-5">
                                    <input disabled id="classificationGround2" type="text" class="form-control" ng-model="classificationGround2">
                                </div>
                                <label class="col-sm-2 col-form-label">Phân Loại Hàng</label>
                                <div class="col-sm-10">
                                    <input id="classificationText2" type="text" class="form-control" ng-model="classificationText2"
                                           ng-change="changedInClassfication()">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2" ng-show="showclassification1">
                            <div class="col-sm-10">
                                <table style="width:100%" class="table table-bordered mt-2">
                                    <thead>
                                    <tr>
                                        <th ng-show="showclassification1 == true && classificationGround1 != ''">
                                            {{classificationGround1}}
                                        </th>
                                        <th ng-show="showclassification1 == true && classificationGround1 == ''">Phân
                                            Loại 1
                                        </th>
                                        <th ng-show="showclassification2 == true && classificationGround2 != ''">
                                            {{classificationGround2}}
                                        </th>
                                        <th class="" ng-show="showclassification2 == true && classificationGround2 == ''">Phân
                                            Loại 2
                                        </th>
                                        <th>Kho Hàng</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="item1 in classificationList1">
                                        <tr class="mb-3" ng-repeat="item2 in classificationList2">
                                            <td ng-show="$index == 0" rowspan="{{classificationList2.length}}">{{item1}}
                                            </td>
                                            <td ng-show="showclassification2">{{item2}}</td>
                                            <td><input  min="0"  max="1000" class="category-quantity form-control py-2" type="number" placeholder="Số Lượng"
                                                       ng-model="quantities[$parent.$index * classificationList2.length + $index]">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center col-12"><button type="button" class="btn btn-primary text-center" ng-click="submit()">Thêm Sản Phẩm</button></div>
</main>
